<script type="text/javascript">
ngApp_field_data_attachment = angular.module('body', ['ngFileUpload']);   
ngApp_field_data_attachment.controller('field_data_attachment_{$randId}', ['$scope', 'Upload', function($scope, Upload){
    $scope.attachment = {:json_encode($FieldDataXXXModel->getData())},
    console.log($scope.attachment);

    // upload on file select or drop
    $scope.upload = function (file, key) {
        Upload.upload({
            url: '{:url("api/api/index?token=" . $token)}',
            data: {Filedata: file}
        }).then(function (resp) {
            var imageInfo = resp.data.data;
            console.log(imageInfo);
            $scope.images[key] = imageInfo.url;
        }, function (resp) {
            console.log('Error status: ' + resp.status);
        }, function (evt) {
            // var progressPercentage = parseInt(100.0 * evt.loaded / evt.total);
            // console.log('progress: ' + progressPercentage + '% ' + evt.config.data.file.name);
        });
    };

    $scope.delete = function(attachment) {
        // TODO：使用$http触发删除URL
    }
}]);
</script>