{layout name="index" /}
<div class="header1">
	<div class="container">
		 <div class="header-main">
				<!---->
					<div class="header-logo">
						<div class="logo">
						<a href="index.html"><img src="images/lo1.png" alt="" ></a>
						</div>
						<div class="top-nav">
							<span class="icon"><img src="images/menu.png" alt=""> </span>
							<ul>
								<li ><a href="index.html">Home</a> </li>
								<li ><a href="about.html" >About  </a> </li>
								<li><a href="typo.html"  >Short Codes</a></li>
								<li><a href="galley.html" >Gallery</a></li>
								<li><a href="contact.html" >Contact </a></li>
							</ul>
							<!--script-->
						<script>
							$("span.icon").click(function(){
								$(".top-nav ul").slideToggle(500, function(){
								});
							});
					</script>				
				</div>
				<div class="clearfix"> </div>
					</div>
			<!---->
			<div class="top-menu">					
					<ul>
						<li ><a href="./" >首页</a> </li>
						<li ><a href="news.html">关于  </a> </li>
						<li><a href="#">团队 </a></li>
						<li><a href="./"> <img src="{:__ROOT__}/theme/Chutheme/images/lo1.png" alt=""> </a></li>
						<li><a href="user.html">联系我们</a></li>
						<li><a href="aboutus.html">经验分享</a></li>
						<li><div class="header-login">
									 <div class="top-nav-right">
										<div id="loginContainer"><a href="#" id="loginButton"><span>登录</span></a>
											    <div id="loginBox">                
											        <form id="loginForm">
											                <fieldset id="body">
											                	<fieldset>
											                          <label for="email">电子邮件</label>
											                          <input type="text" name="email" id="email">
											                    </fieldset>
											                    <fieldset>
											                            <label for="password">密码</label>
											                            <input type="password" name="password" id="password">
											                     </fieldset>
											                    <input type="submit" id="login" value="登录">
											                	<label for="checkbox"><input type="checkbox" id="checkbox"> <i>记住密码</i></label>
											            	</fieldset>
											            <span><a href="#">忘记密码？</a></span>
												 </form>
									        </div>
									  </div>
								   </div>
		                         </div>	</li>
					</ul>
				</div>
					<!--script-->
	 </div>
   </div>
</div>
<!--header end here-->
<!--gallery-starts-->
	<div class="gallery">
		<div class="container">
			<div class="gallery-top heading">
				<h2>我们的团队</h2>
				<p>河北工业大学梦云智软件开发团队成立于2014年12月。依托于计算机科学与软件学院，团队现拥有自身独立的实验室，经过年多不懈的努力，团队学习氛围越来越浓厚，团队精神越来越多地被我们诠释。</p>
			</div>
			<section>
				<ul id="da-thumbs" class="da-thumbs">
					<li>
						<a href="{:__ROOT__}/theme/Chutheme/images/g1.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="{:__ROOT__}/theme/Chutheme/images/g1.jpg" alt="" class="img-responsive">
							<div>
								<h5>潘杰</h5>
								<span>擅长thinkphp框架，精通PHP语言</span>
							</div>
						</a>
					</li>
					<li>
						<a href="images/g2.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="{:__ROOT__}/theme/Chutheme/images/g2.jpg" alt="">
							<div>
								<h5>潘杰</h5>
								<span>擅长thinkphp框架，精通PHP语言</span>
							</div>
						</a>
					</li>
					<li>
						<a href="images/g3.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="{:__ROOT__}/theme/Chutheme/images/g3.jpg" alt="">
							<div>
								<h5>潘杰</h5>
								<span>擅长thinkphp框架，精通PHP语言</span>
							</div>
						</a>
					</li>
					<li>
						<a href="images/g4.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="{:__ROOT__}/theme/Chutheme/images/g4.jpg" alt="">
							<div>
								<h5>潘杰</h5>
								<span>擅长thinkphp框架，精通PHP语言</span>
							</div>
						</a>
					</li>
					<li>	
						<a href="images/g5.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="{:__ROOT__}/theme/Chutheme/images/g5.jpg" alt="">
							<div>
								<h5>潘杰</h5>
								<span>擅长thinkphp框架，精通PHP语言</span>
							</div>
						</a>
					</li>
					<li>
						<a href="images/g6.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="{:__ROOT__}/theme/Chutheme/images/g6.jpg" alt="">
							<div>
								<h5>潘杰</h5>
								<span>擅长thinkphp框架，精通PHP语言</span>
							</div>
						</a>
					</li>
					<li>
						<a href="images/g7.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="{:__ROOT__}/theme/Chutheme/images/g7.jpg" alt="">
							<div>
								<h5>潘杰</h5>
								<span>擅长thinkphp框架，精通PHP语言</span>
							</div>
						</a>
					</li>
					<li>
						<a href="{:__ROOT__}/theme/Chutheme/images/g8.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="{:__ROOT__}/theme/Chutheme/images/g8.jpg" alt="">
							<div>
								<h5>潘杰</h5>
								<span>擅长thinkphp框架，精通PHP语言</span>
							</div>
						</a>
					</li>
					<li>
						<a href="images/g9.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
							<img src="{:__ROOT__}/theme/Chutheme/images/g9.jpg" alt="">
							<div>
								<h5>潘杰</h5>
								<span>擅长thinkphp框架，精通PHP语言</span>
							</div>
						</a>
					</li>
					<div class="clearfix"> </div>
				</ul>
			</section>
				
		<script type="text/javascript">
			$(function() {
			
				$(' #da-thumbs > li ').each( function() { $(this).hoverdir(); } );

			});
		</script>
        </div>
	</div>
<!--gallery-end-->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--Google Fonts-->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{:__ROOT__}/theme/Chutheme/js/move-top.js"></script>
<script type="text/javascript" src="{:__ROOT__}/theme/Chutheme/js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
<!-- //end-smoth-scrolling -->
<script src="{:__ROOT__}/theme/Chutheme/js/menu_jquery.js"></script>
<!--script-->
	<script src="{:__ROOT__}/theme/Chutheme/js/modernizr.custom.97074.js"></script>
<script src="{:__ROOT__}/theme/Chutheme/js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="{:__ROOT__}/theme/Chutheme/css/chocolat.css" type="text/css" media="screen" charset="utf-8">
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.gallery a').Chocolat();
		});
		</script>
		<script type="text/javascript" src="{:__ROOT__}/theme/Chutheme/js/jquery.hoverdir.js"></script>
