<!-- contact -->
	<div id="contact" class="contact">
	<div class="container">
		<h3>Contact Us</h3>
		<p class="para2">We know what we need to do</p>
		<div class="contact-grids">
			<div class="contact-grid">
				<div class="contact-fig">
					<span> </span>
				</div>
				<p>555-222-333</p>
			</div>
			<div class="contact-grid">
				<div class="contact-fig1">
					<span> </span>
				</div>
				<p>Here is some address</p>
			</div>
			<div class="contact-grid">
				<div class="contact-fig2">
					<span> </span>
				</div>
				<p><a href="mailto:info@example.com">somemail@hotmail.com</a></p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<form>
			<input type="text" placeholder="Full Name" required=" ">
			<input type="text" placeholder="Email" required=" ">
			<input type="text" placeholder="Number" required=" ">
			<textarea placeholder="Write your Message here..." required=" "></textarea>
			<input type="submit" value="Submit">
		</form>
	</div>
	</div>
<!-- //contact -->
<!-- footer -->
	<div class="footer">
	<div class="container">
		<p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a> - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a></p>
	</div>
	</div>
<!-- //footer -->