{layout name="index" /}
<!--header start here-->
<div class="header1">
	<div class="container">
		 <div class="header-main">
				<!---->
					<div class="header-logo">
						<div class="logo">
						<a href="index.html"><img src="images/lo1.png" alt="" ></a>
						</div>
						<div class="top-nav">
							<span class="icon"><img src="images/menu.png" alt=""> </span>
							<ul>
								<li ><a href="index.html">Home</a> </li>
								<li ><a href="about.html" >About  </a> </li>
								<li><a href="typo.html"  >Short Codes</a></li>
								<li><a href="galley.html" >Gallery</a></li>
								<li><a href="contact.html" >Contact </a></li>
							</ul>
							<!--script-->
						<script>
							$("span.icon").click(function(){
								$(".top-nav ul").slideToggle(500, function(){
								});
							});
					</script>				
				</div>
				<div class="clearfix"> </div>
					</div>
			<!---->
			<div class="top-menu">					
					<ul>
						<li ><a href="./" >首页</a> </li>
						<li ><a href="news.html">关于  </a> </li>
						<li><a href="#">团队 </a></li>
						<li><a href="./"> <img src="{:__ROOT__}/theme/Chutheme/images/lo1.png" alt=""> </a></li>
						<li><a href="user.html">联系我们</a></li>
						<li><a href="aboutus.html">经验分享</a></li>
						<li><div class="header-login">
									 <div class="top-nav-right">
										<div id="loginContainer"> <a href="#" id="loginButton"><span>登录</span></a>
											    <div id="loginBox">                
											        <form id="loginForm">
											                <fieldset id="body">
											                	<fieldset>
											                          <label for="email">电子邮件</label>
											                          <input type="text" name="email" id="email">
											                    </fieldset>
											                    <fieldset>
											                            <label for="password">密码</label>
											                            <input type="password" name="password" id="password">
											                     </fieldset>
											                    <input type="submit" id="login" value="登录">
											                	<label for="checkbox"><input type="checkbox" id="checkbox"> <i>记住密码</i></label>
											            	</fieldset>
											            <span><a href="#">忘记密码？</a></span>
												 </form>
									        </div>
									  </div>
								   </div>
		                         </div>	</li>
					</ul>	
				</div>
					<!--script-->
	 </div>
   </div>
</div>
<!--header end here-->
<!--single start here-->
		 <div class="single">
			<div class="container">
			<div class="col-md-8 ">
				<div class=" single-grid">
					<div class="lone-line">
						<h4>文章管理</h4>
						<hr>
						<table class="table ">
							<tr>
								<th>文章标题</th>
								<th>阅读</th>
								<th>评论</th>
								<th>操作</th>
							</tr>
							<tr>
								<td><a href="personalcenter.html" >is_null、isset、empty三者的区别</a></td>
								<td>32</td>
								<td>2</td>
								<td><a href="">编辑</a> | <a href="">删除</a></td>
							</tr><tr>
								<td><a href="personalcenter.html" >is_null、isset、empty三者的区别</a></td>
								<td>32</td>
								<td>2</td>
								<td><a href="">编辑</a> | <a href="">删除</a></td>
							</tr><tr>
								<td><a href="personalcenter.html" >is_null、isset、empty三者的区别</a></td>
								<td>32</td>
								<td>2</td>
								<td><a href="">编辑</a> | <a href="">删除</a></td>
							</tr><tr>
								<td><a href="personalcenter.html" >is_null、isset、empty三者的区别</a></td>
								<td>32</td>
								<td>2</td>
								<td><a href="">编辑</a> | <a href="">删除</a></td>
							</tr><tr>
								<td><a href="personalcenter.html" >is_null、isset、empty三者的区别</a></td>
								<td>32</td>
								<td>2</td>
								<td><a href="">编辑</a> | <a href="">删除</a></td>
							</tr><tr>
								<td><a href="personalcenter.html" >is_null、isset、empty三者的区别</a></td>
								<td>32</td>
								<td>2</td>
								<td><a href="">编辑</a> | <a href="">删除</a></td>
							</tr><tr>
								<td><a href="personalcenter.html" >is_null、isset、empty三者的区别</a></td>
								<td>32</td>
								<td>2</td>
								<td><a href="">编辑</a> | <a href="">删除</a></td>
							</tr><tr>
								<td><a href="personalcenter.html" >is_null、isset、empty三者的区别</a></td>
								<td>32</td>
								<td>2</td>
								<td><a href="">编辑</a> | <a href="">删除</a></td>
							</tr><tr>
								<td><a href="personalcenter.html" >is_null、isset、empty三者的区别</a></td>
								<td>32</td>
								<td>2</td>
								<td><a href="">编辑</a> | <a href="">删除</a></td>
							</tr><tr>
								<td><a href="blog.html" >is_null、isset、empty三者的区别</a></td>
								<td>32</td>
								<td>2</td>
								<td><a href="">编辑</a> | <a href="">删除</a></td>
							</tr><tr>
								<td><a href="blog.html" >is_null、isset、empty三者的区别</a></td>
								<td>32</td>
								<td>2</td>
								<td><a href="">编辑</a> | <a href="">删除</a></td>
							</tr>
						</table>
					</div>
				</div>
					<div class=" single-profile">
			
			</div>
			<div class="single-bottom">
		
			<h3>评论 </h3>
				<form>
						<div class="col-md-6 comment">
							<input type="text" placeholder="姓名">
						</div>
						<div class="col-md-6 comment">
							<input type="text" placeholder="邮箱">
						</div>
						<div class="clearfix"> </div>
							<textarea placeholder="信息" required=""></textarea>	
							<input type="submit" value="发送">
						
				</form>
			
		</div>
				</div>
					<div class="col-md-3 categories-grid">
				<div class="grid-categories">
					<h4>类别</h4>
					<ul class="popular ">
						<li><a href="#"><i class="glyphicon glyphicon-ok"> </i>写新文章</a></li>
						<li><a href="#"><i href="article.html" class="glyphicon glyphicon-ok"> </i>文章管理</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-ok"> </i>类别管理</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-ok"> </i>评论管理</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-ok"> </i>草稿箱</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-ok"> </i>已删除</a></li>
					</ul>
				</div>
				<div class="grid-categories">
					<h4>成就</h4>
					<ul class="popular popular-in">
						<li><a href="#"><i class="glyphicon glyphicon-ok"> </i>2014年5月</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-ok"> </i>2012年5月</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-ok"> </i>2012年5月</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-ok"> </i>2012年5月</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-ok"> </i>2012年5月</a></li>
					</ul>
				</div>
			</div>
				<div class="clearfix"> </div>
			
			</div>
	</div>

<!--//single end here-->