<!-- Start footer -->

  <!-- End footer -->
  

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{:__ROOT__}/theme/varsity/js/bootstrap.js"></script>   
  <!-- Slick slider -->
  <script type="text/javascript" src="{:__ROOT__}/theme/varsity/js/slick.js"></script>
  <!-- Counter -->
  <script type="text/javascript" src="{:__ROOT__}/theme/varsity/js/waypoints.js"></script>
  <script type="text/javascript" src="{:__ROOT__}/theme/varsity/js/jquery.counterup.js"></script>  
  <!-- Mixit slider -->
  <script type="text/javascript" src="{:__ROOT__}/theme/varsity/js/jquery.mixitup.js"></script>
  <!-- Add fancyBox -->        
  <script type="text/javascript" src="{:__ROOT__}/theme/varsity/js/jquery.fancybox.pack.js"></script>

  <!--第三方CSS-->
  {:$Common->getCssLinks()}

  <!--第三方JS-->
  {:$Common->getJsLinks()}

  <!--这里引用jquery和wangEditor.js-->
  <script type="text/javascript">



  </script>

 

  <!-- Custom js -->
  <script src="{:__ROOT__}/theme/varsity/js/custom.js"></script> 
