{layout name="index" /}
<!--start-blog-->
	  <div class="blog-section">
	    <div class="container">
		  <h3 class="tittle">Blogs</h3>
			 <div class="blog-article">
				 <div class="col-md-6 article-post">
					<div class="post-details">
					  <a href="single.html" class="mask"><img src="{:__ROOT__}/theme/liuyanzhao_theme/images/b1.jpg" alt="image" class="img-responsive zoom-img"></a>
				   </div>
				   <div class="blog-text">
						<a href="single.html"><h4>PHP</h4></a>
						 <p>关于ThinkPHP的学习心得，等等等等</p>
							<div class="read">
								<a class="button" href="single.html"><img src="{:__ROOT__}/theme/liuyanzhao_theme/images/read.png" alt="" /></a>
							</div>
					   </div>
					<div class="date-box">
						<span class="on_date title_shop">Aug 
						<h6>30</h6></span>
					</div>
					<ul class="ad-info">
							 <li><i class="glyphicon glyphicon-calendar"></i>30 Aug'15</li>
							 <li><i class="glyphicon glyphicon-user"></i> <a href="#">徐林杰</a></li>
							 <li><i class="glyphicon glyphicon-comment"></i> <a href="#">24 Comments</a></li>
					</ul>
						<div class="clearfix"> </div>
				<!--post-details-->	
				</div>	
	            <div class="col-md-6 article-post">
					<div class="post-details">
					  <a href="single.html" class="mask"><img src="{:__ROOT__}/theme/liuyanzhao_theme/images/b2.jpg" alt="image" class="img-responsive zoom-img"></a>
				   </div>
				   <div class="blog-text">
						<a href="single.html"><h4>PHP</h4></a>
						 <p>关于ThinkPHP的学习心得，等等等等</p>
							<div class="read">
								<a class="button" href="single.html"><img src="{:__ROOT__}/theme/liuyanzhao_theme/images/read.png" alt="" /></a>
							</div>
					   </div>
					<div class="date-box">
						<span class="on_date title_shop">Sep
						<h6>02</h6></span>
					</div>
					<ul class="ad-info">
							 <li><i class="glyphicon glyphicon-calendar"></i>02 Sep '15</li>
							 <li><i class="glyphicon glyphicon-user"></i> <a href="#">刘茜</a></li>
							 <li><i class="glyphicon glyphicon-comment"></i> <a href="#">24 Comments</a></li>
					</ul>
						<div class="clearfix"> </div>
				<!--post-details-->	
				</div>	
				<div class="clearfix"> </div>				
			 </div>
			 	 <div class="blog-article">
				 <div class="col-md-6 article-post">
					<div class="post-details">
					  <a href="single.html" class="mask"><img src="{:__ROOT__}/theme/liuyanzhao_theme/images/b3.jpg" alt="image" class="img-responsive zoom-img"></a>
				   </div>
				   <div class="blog-text">
						<a href="single.html"><h4>PHP</h4></a>
						 <p>关于ThinkPHP的学习心得，等等等等</p>
							<div class="read">
								<a class="button" href="single.html"><img src="{:__ROOT__}/theme/liuyanzhao_theme/images/read.png" alt="" /></a>
							</div>
					   </div>
					<div class="date-box">
						<span class="on_date title_shop">Sep 
						<h6>21</h6></span>
					</div>
					<ul class="ad-info">
							 <li><i class="glyphicon glyphicon-calendar"></i>21 Sep'15</li>
							 <li><i class="glyphicon glyphicon-user"></i> <a href="#">魏静云</a></li>
							 <li><i class="glyphicon glyphicon-comment"></i> <a href="#">24 Comments</a></li>
					</ul>
						<div class="clearfix"> </div>
				<!--post-details-->	
				</div>	
	            <div class="col-md-6 article-post">
					<div class="post-details">
					  <a href="single.html" class="mask"><img src="{:__ROOT__}/theme/liuyanzhao_theme/images/b1.jpg" alt="image" class="img-responsive zoom-img"></a>
				   </div>
				   <div class="blog-text">
						<a href="single.html"><h4>PHP</h4></a>
						 <p>关于ThinkPHP的学习心得，等等等等</p>
							<div class="read">
								<a class="button" href="single.html"><img src="{:__ROOT__}/theme/liuyanzhao_theme/images/read.png" alt="" /></a>
							</div>
					   </div>
					<div class="date-box">
						<span class="on_date title_shop">OCt
						<h6>21</h6></span>
					</div>
					<ul class="ad-info">
							 <li><i class="glyphicon glyphicon-calendar"></i>21 Oct'15</li>
							 <li><i class="glyphicon glyphicon-user"></i> <a href="#">李甜</a></li>
							 <li><i class="glyphicon glyphicon-comment"></i> <a href="#">24 Comments</a></li>
					</ul>
						<div class="clearfix"> </div>
				<!--post-details-->	
				</div>	
				<div class="clearfix"> </div>				
			 </div>
			 	 <div class="blog-article">
				 <div class="col-md-6 article-post">
					<div class="post-details">
					  <a href="single.html" class="mask"><img src="{:__ROOT__}/theme/liuyanzhao_theme/images/b4.jpg" alt="image" class="img-responsive zoom-img"></a>
				   </div>
				   <div class="blog-text">
						<a href="single.html"><h4>PHP</h4></a>
						 <p>关于ThinkPHP的学习心得，等等等等</p>
							<div class="read">
								<a class="button" href="single.html"><img src="{:__ROOT__}/theme/liuyanzhao_theme/images/read.png" alt="" /></a>
							</div>
					   </div>
					<div class="date-box">
						<span class="on_date title_shop">Nov
						<h6>21</h6></span>
					</div>
					<ul class="ad-info">
							 <li><i class="glyphicon glyphicon-calendar"></i>21 Nov'15</li>
							 <li><i class="glyphicon glyphicon-user"></i> <a href="#">刘茜</a></li>
							 <li><i class="glyphicon glyphicon-comment"></i> <a href="#">24 Comments</a></li>
					</ul>
						<div class="clearfix"> </div>
				<!--post-details-->	
				</div>	
	            <div class="col-md-6 article-post">
					<div class="post-details">
					  <a href="single.html" class="mask"><img src="{:__ROOT__}/theme/liuyanzhao_theme/images/b2.jpg" alt="image" class="img-responsive zoom-img"></a>
				   </div>
				   <div class="blog-text">
						<a href="single.html"><h4>PHP</h4></a>
						 <p>关于ThinkPHP的学习心得，等等等等</p>
							<div class="read">
								<a class="button" href="single.html"><img src="{:__ROOT__}/theme/liuyanzhao_theme/images/read.png" alt="" /></a>
							</div>
					   </div>
					<div class="date-box">
						<span class="on_date title_shop">Dec
						<h6>15</h6></span>
					</div>
					<ul class="ad-info">
							 <li><i class="glyphicon glyphicon-calendar"></i>30 Dec'15</li>
							 <li><i class="glyphicon glyphicon-user"></i> <a href="#">刘茜</a></li>
							 <li><i class="glyphicon glyphicon-comment"></i> <a href="#">24 Comments</a></li>
					</ul>
						<div class="clearfix"> </div>
				<!--post-details-->	
				</div>	
				<div class="clearfix"> </div>				
			 </div>
			 <!--start-blog-pagenate-->
				<div class="blog-pagenat">
					<ul>
						<li><a class="frist" href="#">Prev</a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a class="last" href="#">Next</a></li>
						<div class="clearfix"> </div>
					</ul>
				</div>
			<!--//End-blog-pagenate-->

	    </div>
	</div>