<div class="mu-single-sidebar">
    <div class="row" id="header">
        <div class="col-md-9">
            <h4 style="color:#E6690B;">最新通知</h4></div>
        <div class="col-md-3">
            <a href="#"><h5 >More</h5></a></div>
    </div>
    <div class="mu-sidebar-popular-courses">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img src="{:__ROOT__}/theme/varsity/img/newslist/004.jpg" alt="img">
                </a>
            </div>
            <div class="media-body">
                <h5 class="media-heading" style="line-height:150%;"><a style="font-family:SimHei;" href="#">计算机科学与软件学院举行2016级研究生开学典礼暨师生见面会</a></h5>
                <span style="color:#1FABFD;margin-left:160px;display:inline;font-size:15px;">2016-09-18</span>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img src="{:__ROOT__}/theme/varsity/img/newslist/005.jpg" alt="img">
                </a>
            </div>
            <div class="media-body">
                <h5 class="media-heading" style="line-height:150%;"><a style="font-family:SimHei;" href="#">计算机科学与软件学院举行2016级研究生开学典礼暨师生见面会</a></h5>
                <span style="color:#1FABFD;margin-left:160px;display:inline;font-size:15px;">2016-09-18</span>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img src="{:__ROOT__}/theme/varsity/img/newslist/006.jpg" alt="img">
                </a>
            </div>
            <div class="media-body">
                <h5 class="media-heading" style="line-height:150%;"><a style="font-family:SimHei;" href="#">计算机科学与软件学院举行2016级研究生开学典礼暨师生见面会</a></h5>
                <span style="color:#1FABFD;margin-left:160px;display:inline;font-size:15px;">2016-09-18</span>
            </div>
        </div>
    </div>
</div>
