<script type="text/javascript">
$(function() {
    $('#file_upload').uploadify({
        'swf': '{:__ROOT__}/lib/uploadify/uploadify.swf',
        'uploader': '{:url("api/Api/index?token=" . $token)}',
        // 'button_image_url' : '{:__ROOT__}/lib/uploadify/browse-btn.png',
        'debug': true,
        'onUploadSuccess': function(file, data, response) {
            if (!response) {
                alert('目标地址无响应');
            } else {
                // console.log(response);
                // console.log(data);
                // break;
                var data = JSON.parse(data);
                if (data.status === 'error') {
                    alert('上传发生错误:' + data.message);
                } else {
                    var image = data.data;
                    $('#field_data_image_show_{$randId}').attr('src', image.url);
                    $('#field_data_image_{$randId}').val(image.id);
                }
            }
        }
    });
});
</script>
