{layout name="index" /}
<section id="mu-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- start contact content -->
                <div class="mu-contact-content">
                    <div class="row">
                         <div class="col-md-12">
                            <form action="{:app\\Common::getCreateUrl()}" method="post">
                                <label for="">用户名:</label><input type="text" name="username" />
                                <br />
                                <label for="">密码:</label><input type="password" name="password" />
                                <button>submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end contact content -->
            </div>
        </div>
    </div>
</section>