{layout name="index" /}
<section id="mu-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- start contact content -->
                <div class="mu-contact-content">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <a href="{:app\\Common::url('/edit')}">编辑</a>
                        </div>
                    </div>
                        <!--single-starts-->
                        <div class="single">
                            <div class="container">
                                <div class="single-top">
                                    <img class="img-responsive" src="/yunzhicms/public/upload/20160907/819029973ba3b6d987748accff729b76.jpg" alt="" />
                                </div>
                                <div class="single-bottom">
                                    <h4>ajax question</h4>
                                    <p class="sn">Post by <a href="#">Admin</a> March 02, 2015 <a href="#">5 comments</a></p>
                                    <p class="one">春，chun，会意。甲骨文字形,从艹(木),草木春时生长；中间是“屯”字，似草木破土而出，土上臃肿部分，即刚破土的胚芽形，表示春季万木生长。“屯”亦兼作声符。小篆字形,隶变以后,除“日”之外,其他部分都看不出来了 </p>
                                    <p class="one">Aenean et iaculis mi, ullamcorper vehicula mauris. Proin arcu ligula, fringilla at pulvinar non, lobortis eu magna. Donec tristique pulvinar mollis. Aenean quam leo, ullamcorper a nisi id, tempor porta ante. Vestibulum mollis metus et ligula lacinia tempus.</p>
                                </div>
                                <div class="comments heading">
                                    <h2>Comments</h2>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#"><img src="images/si1.png" alt=""></a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Richard Spark</h4>
                                            <h5 class="reply"> <a href="#">Reply</a></h5>
                                            <div class="clearfix"> </div>
                                            <p>春，chun，会意。甲骨文字形,从艹(木),草木春时生长；中间是“屯”字，似草木破土而出，土上臃肿部分，即刚破土的胚芽形，表示春季万木生长。“屯”亦兼作声符。小篆字形,隶变以后,除“日”之外,其他部分都看不出来了</p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#"><img src="" alt=""></a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">  Joseph Goh</h4>
                                            <h5 class="reply"> <a href="#">Reply</a></h5>
                                            <div class="clearfix"> </div>
                                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#"><img src="" alt=""></a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">John Doe</h4>
                                            <h5 class="reply"> <a href="#">Reply</a></h5>
                                            <div class="clearfix"> </div>
                                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="post heading">
                                    <h3>相关经验</h3>
                                    <div class="post-top">
                                        <div class="col-md-3 post-left">
                                            <a href="single.html"><img class="img-responsive " src="/yunzhicms/public/upload/20160907/819029973ba3b6d987748accff729b76.jpg" alt=""></a>
                                            <a href="single.html"><h6>Duis autem</h6></a>
                                            <p>Lorem ipsum dolor sit amet, consectetuer .</p>
                                        </div>
                                        <div class="col-md-3 post-left">
                                            <a href="single.html"><img class="img-responsive " src="images/r-2.jpg" alt=""></a>
                                            <a href="single.html"><h6>Duis autem</h6></a>
                                            <p>Lorem ipsum dolor sit amet, consectetuer .</p>
                                        </div>
                                        <div class="col-md-3 post-left">
                                            <a href="single.html"><img class="img-responsive " src="/yunzhicms/public/upload/20160907/819029973ba3b6d987748accff729b76.jpg" alt=""></a>
                                            <a href="single.html"><h6>Duis autem</h6></a>
                                            <p>Lorem ipsum dolor sit amet, consectetuer .</p>
                                        </div>
                                        <div class="col-md-3 post-left">
                                            <a href="single.html"><img class="img-responsive " src="/yunzhicms/public/upload/20160907/819029973ba3b6d987748accff729b76.jpg" alt=""></a>
                                            <a href="single.html"><h6>Duis autem</h6></a>
                                            <p>Lorem ipsum dolor sit amet, consectetuer .</p>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                                <div class="rly heading">
                                    <h3>发表评论</h3>
                                    <div class="rly-top">
                                        <form>
                                            <input type="text" placeholder="Name">
                                            <input type="text" placeholder="Email">
                                            <textarea placeholder="Message" required></textarea>
                                            <input type="submit" value="Send">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--single-end-->
                    </div>
                </div>
                <!-- end contact content -->
            </div>
        </div>
    </div>
</section>
