{layout name="index" /}
<div class="row">
    <div class="span16">
        <div class="box pattern pattern-sandstone">
            <div class="box-header">
                <i class="icon-table"></i>
                <h5>
                添加区块
                </h5>
            </div>
            <div class="box-content">
                <div class="form-horizontal">
                    <div class="control-group">
                        <div class="controls">
                            <form action="{:url('save')}" method="post">
                                <input type="hidden" name="_method" value="POST" />
                                <div>
                                    <label for="">名称</label>
                                    <input type="text" name="title" value="" />
                                </div>
                                <div>
                                    <label for="">区块类型</label>
                                    <select class="form-control" name="block_type_name">
                                        {volist name="BlockTypeModels" id="BlockTypeModel"}
                                        <option value="{$BlockTypeModel->name}">{$BlockTypeModel->name}</option>
                                        {/volist}
                                    </select>
                                </div>
                                <div>
                                    <label for="">描述</label>
                                    <input type="text" name="description" value="" />
                                </div>
                                <div>
                                    <label for="">所处位置</label>
                                    <select class="form-control" name="position_name">
                                        {volist name="Positions" id="Position"}
                                        <option value="{$Position->name}">{$Position->name}</option>
                                        {/volist}
                                    </select>
                                </div>
                                <div>
                                    <label for="">状态</label>
                                    <select name="status">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="">权重</label>
                                    <input type="text" name="weight" />
                                </div>
                                <div>
                                    <label for="">对哪些菜单显示</label>
                                    <ul>
                                        {foreach name="MenuModels" id="_MenuModel"}
                                        <input type="checkbox" name="menuids[{$_MenuModel->id}]" />
                                        <li>
                                            <?php
                                            for ($depth = 0; $depth < $_MenuModel->getDepth(); $depth++)
                                            {
                                                echo '|--';
                                            }
                                            ?>
                                                {$_MenuModel->title}
                                        </li>
                                        {/foreach}
                                    </ul>
                                </div>
                                <div>
                                    <label for="">对用户组的权限</label>
                                    <ul>
                                        {volist name="UserGroupModels" id="_UserGroupModel"}
                                <li>
                                    {$_UserGroupModel->title}
                                    <ul>
                                        <li>
                                            <label for="">
                                                <input type="checkbox" name="access[{$_UserGroupModel->getData('name')}][index]" />浏览</label>
                                        </li>
                                        <li>
                                            <label for="">
                                                <input type="checkbox" name="access[{$_UserGroupModel->getData('name')}][read]" />查看</label>
                                        </li>
                                        <li>
                                            <label for="">
                                                <input type="checkbox" name="access[{$_UserGroupModel->getData('name')}][create]" />新增</label>
                                        </li>
                                        <li>
                                            <label for="">
                                                <input type="checkbox" name="access[{$_UserGroupModel->getData('name')}][edit]" />编辑</label>
                                        </li>
                                        <li>
                                            <label for="">
                                                <input type="checkbox" name="access[{$_UserGroupModel->getData('name')}][delete]" />删除</label>
                                        </li>
                                    </ul>
                                </li>
                                {/volist}
                                    </ul>
                                </div>
                                <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
