{layout name="index" /}
<table>
    <tr>
        <th>序号</th>
        <th>区块名</th>
        <th>对应模块</th>
        <th>描述</th>
        <th>状态</th>
        <th>位置</th>
        <th>操作</th>
    </tr>
    {volist name="BlockModels" key="key" id="_blockModel"}
    <tr>
        <td>{$key}</td>
        <td>{$_blockModel->title}</td>
        <td>{$_blockModel->ModuleModel->title}</td>
        <td>{$_blockModel->description}</td>
        <td>{$_blockModel->status}</td>
        <td>{$_blockModel->position_name}</td>
        <td>
            <a href="{:url('@admin/Block/' . $_blockModel->id . '/edit')}" class="btn btn-small btn-info">
                <i class="btn-icon-only icon-edit"></i> 编辑
            </a>
        </td>
    </tr>
    {/volist} {$BlockModels->render()}
</table>
