<!-- Start Slider -->
<section id="mu-slider">
    <?php for ($key=0; $key < $totalCount; $key++) : ?>
        <!-- Start single slider item -->
        <div class="mu-slider-single">
            <div class="mu-slider-img">
                <figure>
                    <img src="{$images[$key]}">
                </figure>
            </div>
            <div class="mu-slider-content">
                <h4>{$titles[$key]}</h4>
                <span></span>
                <h2>{$headers[$key]}</h2>
                <p>{$descriptions[$key]}</p>
                <a href="{$urls[$key]}" class="mu-read-more-btn">Read More</a>
                {neq name="token" value=""}
                    <a target="_blank" class="mu-read-more-btn" href="{:url('api/api/index?token=' . $token)}">编辑</a>
                {/neq} 
            </div>
        </div>
        <!-- Start single slider item -->
    <?php endfor; ?>
</section>
<!-- End Slider -->
