{volist name="FieldDataXXXModel->filter()" id="value" key="key"}
<div>
{php}$rand1 = rand(0,1000); {/php}
   <label for="">
        {$FieldDataXXXModel->FieldModel()->getData('title')}{$key}:
    </label> 
    <img src="{$value}">
    <input type="hidden" class="" id="field_id_{$rand1}" name="field_[{:$FieldDataXXXModel->FieldModel()->getData('id')}][]}" value="{$value}" />
    <input id="file_upload_{$rand1}" class="file_upload_images_{$rand}" name="file_upload" type="file" multiple="true">
</div>
{/volist}
<div id="queue"></div>
<a href="{:url('api/api/index?token=' . $token) . '?type=add'}">+1</a>
<a href="{:url('api/api/index?token=' . $token) . '?type=sub'}">-1</a>