{layout name="index" /}
<body>
	<!--start-header-->
			<div id="home" class="header two">
					<div class="top-header">
						<div class="container">
					     <div class="top-menu">
							<span class="menu"> </span>
								<ul class="cl-effect-16">
								 <li><a href="{:__ROOT__}/theme/liuyanzhao_theme/index.html" data-hover="Home">Home</a></li>
								<li><a  href="{:__ROOT__}/theme/liuyanzhao_theme/about.html" data-hover="About">About</a></li>
								<li><a  href="{:__ROOT__}/theme/liuyanzhao_theme/typography.html" data-hover="Services">Services</a></li>
								<li><a class="active"  href="{:__ROOT__}/theme/liuyanzhao_theme/gallery.html" data-hover="Gallery">Gallery</a></li>
							    <li><a href="{:__ROOT__}/theme/liuyanzhao_theme/blog.html" data-hover="blog">Blog</a></li>
								<li><a href="{:__ROOT__}/theme/liuyanzhao_theme/contact.html" data-hover="Contact">Contact</a></li>
								  <div class="clearfix"></div>
								</ul>
							</div>
							<div class="logo two">
							  <a href="{:__ROOT__}/theme/liuyanzhao_theme/index.html"><h1>Tak<span>si</span></h1></a>
						    </div>
							<!-- script-for-menu -->
								<script>
									$("span.menu").click(function(){
										$(".top-menu ul").slideToggle("slow" , function(){
										});
									});
								</script>
								<!-- script-for-menu -->
							<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		<!--//end-slider-->
   <!--gallery-->
	<div class="gallery">
		<div class="container">
		 <h3 class="tittle">Gallery</h3>
			<div class="portfolio-bottom">
				<div class="gallery-one">
					<div class="col-md-4 gallery-left">
						<a href="{:__ROOT__}/theme/liuyanzhao_theme/images/g1.jpg" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
						<img src="images/g1.jpg" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="{:__ROOT__}/theme/liuyanzhao_theme/images/g2.jpg" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="images/g2.jpg" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="{:__ROOT__}/theme/liuyanzhao_theme/images/g3.jpg" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="images/g3.jpg" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="{:__ROOT__}/theme/liuyanzhao_theme/images/g7.jpg" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="images/g7.jpg" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="{:__ROOT__}/theme/liuyanzhao_theme/images/g5.jpg" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="images/g5.jpg" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="{:__ROOT__}/theme/liuyanzhao_theme/images/g6.jpg" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="images/g6.jpg" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="{:__ROOT__}/theme/liuyanzhao_theme/images/g2.jpg" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="images/g2.jpg" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="{:__ROOT__}/theme/liuyanzhao_theme/images/g4.jpg" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="images/g4.jpg" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="{:__ROOT__}/theme/liuyanzhao_theme/images/g3.jpg" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="images/g3.jpg" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!--swipebox -->	
			<link rel="stylesheet" href="{:__ROOT__}/theme/liuyanzhao_theme/css/swipebox.css">
				<script src="js/jquery.swipebox.min.js"></script> 
				<script type="text/javascript">
					jQuery(function($) {
						$(".swipebox").swipebox();
					});
				</script>
						 <!--start-mid-section-->
     <div class="mid-section">
	    <div class="container">
		     <div class="mid-top">
		        <h2>We are Always There at Your Services</h2>
				<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incidi- dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Ut enim ad minim veniam.</p>
		     </div>
		</div>
	</div>
	 <!--/contact-->
	<div class="contact">
			<div class="contact-map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10015.498657932954!2d-0.1570060357124469!3d51.129219866008135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4875f1c859d0e855%3A0xb0ce82410da5809!2sA2011%2C+Crawley%2C+West+Sussex+RH10%2C+UK!5e0!3m2!1sen!2sin!4v1409743498026" frameborder="0" style="border:0"></iframe>
				<div class="contact-form">
					<div class="contact-head">
						<h4>Contact</h4>
					 </div>
					<form> 
					     <input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
						 <input type="text" class="text" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
						<input type="text" class="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
						<textarea value="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
						<div class="clearfix"> </div>
						<div class="sub-button">
							<input name="submit" type="submit" value="Send ">
						</div>
					</form>
				</div>
			</div>
		</div>
		<!--footer-->
			<div class="footer">
				<div class="container">
					<div class="copy">
		              <p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="{:__ROOT__}/theme/liuyanzhao_theme/http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="{:__ROOT__}/theme/liuyanzhao_theme/http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
		            </div>
					
				</div>
			</div>
				<!--start-smoth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="{:__ROOT__}/theme/liuyanzhao_theme/#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>


</body>