{layout name="index" /}
   <!--gallery-->
	<div class="gallery" style="background-color:#eee;">
		<div class="container">
		 <h3 class="tittle">团队成员</h3>
			<div class="portfolio-bottom">
				<div class="gallery-one">
					<div class="col-md-4 gallery-left">
						<a href="images/g1.jpg" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
						<img src="{:__ROOT__}/theme/liuyanzhao_theme/images/g1.jpg" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="images/g2.jpg" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="{:__ROOT__}/theme/liuyanzhao_theme/images/g2.jpg" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="images/g3.jpg" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="{:__ROOT__}/theme/liuyanzhao_theme/images/g3.jpg" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="images/g7.jpg" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="{:__ROOT__}/theme/liuyanzhao_theme/images/g7.jpg" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="images/g5.jpg" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="{:__ROOT__}/theme/liuyanzhao_theme/images/g5.jpg" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="images/g6.jpg" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="{:__ROOT__}/theme/liuyanzhao_theme/images/g6.jpg" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="images/g2.jpg" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="{:__ROOT__}/theme/liuyanzhao_theme/images/g2.jpg" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="images/g4.jpg" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="{:__ROOT__}/theme/liuyanzhao_theme/images/g4.jpg" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="col-md-4 gallery-left">
						<a href="images/g3.jpg" class=" mask b-link-stripe b-animate-go   swipebox"  title="Image Title">
								<img src="{:__ROOT__}/theme/liuyanzhao_theme/images/g3.jpg" alt="" class="img-responsive zoom-img"/>
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!--swipebox -->	
			<link rel="stylesheet" href="css/swipebox.css">
				<script src="{:__ROOT__}/theme/liuyanzhao_theme/js/jquery.swipebox.min.js"></script> 
				<script type="text/javascript">
					jQuery(function($) {
						$(".swipebox").swipebox();
					});
				</script>
						 <!--start-mid-section-->
     <div class="mid-section">
    <div class="container">
        <div class="mid-top">
            <h2>我们会一直加油</h2>
            <p font="20px;">
                Where there is a will
                <br> there is a way.
            </p>
        </div>
    </div>
</div>

