{layout name="index" /}
<!--single-starts-->
<div class="single">
    <div class="container">
        <div class="single-top">
            <img class="img-responsive" src="images/s-1.jpg" alt="" />
        </div>
        <div class="single-bottom">
            <h4>Praesent sodales dapibus tellus sit amet sodales</h4>
            <p class="sn">Post by <a href="#">Admin</a> March 02, 2015 <a href="#">5 comments</a></p>
            <p class="one">Curabitur volutpat ante id erat dignissim hendrerit. Proin ut ex ac nulla pharetra tincidunt. Mauris felis leo, bibendum a sollicitudin a, dapibus vitae metus. Nunc rhoncus sit amet eros vitae posuere. Cras aliquam tortor vel sem volutpat vestibulum. Fusce tempor eleifend dolor sed rhoncus. Praesent ultricies justo libero, id mollis mi elementum sed. Aliquam lobortis libero quis odio tempus, a luctus magna tristique. Nunc viverra lectus et nisl congue, quis mattis nisl euismod. Sed eget pretium nisi, in sollicitudin elit. </p>
            <p class="one">Aenean et iaculis mi, ullamcorper vehicula mauris. Proin arcu ligula, fringilla at pulvinar non, lobortis eu magna. Donec tristique pulvinar mollis. Aenean quam leo, ullamcorper a nisi id, tempor porta ante. Vestibulum mollis metus et ligula lacinia tempus.</p>
        </div>
        <div class="comments heading">
            <h2>Comments</h2>
            <div class="media">
                <div class="media-left">
                    <a href="#"><img src="images/si1.png" alt=""></a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Richard Spark</h4>
                    <h5 class="reply"> <a href="#">Reply</a></h5>
                    <div class="clearfix"> </div>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#"><img src="images/si1.png" alt=""></a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">  Joseph Goh</h4>
                    <h5 class="reply"> <a href="#">Reply</a></h5>
                    <div class="clearfix"> </div>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#"><img src="images/si1.png" alt=""></a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">John Doe</h4>
                    <h5 class="reply"> <a href="#">Reply</a></h5>
                    <div class="clearfix"> </div>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
            </div>
        </div>
        <div class="post heading">
            <h3>Related Posts</h3>
            <div class="post-top">
                <div class="col-md-3 post-left">
                    <a href="single.html"><img class="img-responsive " src="images/r-1.jpg" alt=""></a>
                    <a href="single.html"><h6>Duis autem</h6></a>
                    <p>Lorem ipsum dolor sit amet, consectetuer .</p>
                </div>
                <div class="col-md-3 post-left">
                    <a href="single.html"><img class="img-responsive " src="images/r-2.jpg" alt=""></a>
                    <a href="single.html"><h6>Duis autem</h6></a>
                    <p>Lorem ipsum dolor sit amet, consectetuer .</p>
                </div>
                <div class="col-md-3 post-left">
                    <a href="single.html"><img class="img-responsive " src="images/r-3.jpg" alt=""></a>
                    <a href="single.html"><h6>Duis autem</h6></a>
                    <p>Lorem ipsum dolor sit amet, consectetuer .</p>
                </div>
                <div class="col-md-3 post-left">
                    <a href="single.html"><img class="img-responsive " src="images/r-4.jpg" alt=""></a>
                    <a href="single.html"><h6>Duis autem</h6></a>
                    <p>Lorem ipsum dolor sit amet, consectetuer .</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="rly heading">
            <h3>Leave A Comment</h3>
            <div class="rly-top">
                <form>
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="Email">
                    <textarea placeholder="Message" required></textarea>
                    <input type="submit" value="Send">
                </form>
            </div>
        </div>
    </div>
</div>
<!--single-end-->
