{layout name="index" /}
<div class="typrography" style="background-color:#eee;">
	<div class="container"> 
	   <h3 class="tittle">团队图书</h3>
		<lable class="two"> </lable>
		<div class="grid_3 grid_4 first">
		     <h3>Headings</h3>
		     <div class="bs-example">
				 <table class="table">
				  <tbody>
					<tr>
					  <td><h1 id="h1.-bootstrap-heading">用Angularjs开发下一代web应用<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
					  <td class="type-info">Semibold 36px</td>
					</tr>
					<tr>
					  <td><h1 id="h1.-bootstrap-heading">用Angularjs开发下一代web应用<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
					  <td class="type-info">Semibold 36px</td>
					</tr>
					<tr>
					  <td><h1 id="h1.-bootstrap-heading">用Angularjs开发下一代web应用<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
					  <td class="type-info">Semibold 36px</td>
					</tr>
					<tr>
					  <td><h1 id="h1.-bootstrap-heading">用Angularjs开发下一代web应用<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
					  <td class="type-info">Semibold 36px</td>
					</tr>
					<tr>
					  <td><h1 id="h1.-bootstrap-heading">用Angularjs开发下一代web应用<a class="anchorjs-link" href="#h1.-bootstrap-heading"><span class="anchorjs-icon"></span></a></h1></td>
					  <td class="type-info">*6</td>
					</tr>
					
				  </tbody>
				 </table>
			 </div>
</div>
</div>