{layout name="index" /}
<!--header start here-->
<div class="header1">
	<div class="container">
		 <div class="header-main">
				<!---->
					<div class="header-logo">
						<div class="logo">
						<a href="index.html"><img src="images/lo1.png" alt="" ></a>
						</div>
						<div class="top-nav">
							<span class="icon"><img src="images/menu.png" alt=""> </span>
							<ul>
								<li ><a href="index.html">Home</a> </li>
								<li ><a href="about.html" >About  </a> </li>
								<li><a href="typo.html"  >Short Codes</a></li>
								<li><a href="galley.html" >Gallery</a></li>
								<li><a href="contact.html" >Contact </a></li>
							</ul>
							<!--script-->
						<script>
							$("span.icon").click(function(){
								$(".top-nav ul").slideToggle(500, function(){
								});
							});
					</script>				
				</div>
				<div class="clearfix"> </div>
					</div>
			<!---->
			<div class="top-menu">					
					<ul>
						<li ><a href="./" >首页</a> </li>
						<li ><a href="news.html">关于  </a> </li>
						<li><a href="#">团队 </a></li>
						<li><a href="./"> <img src="{:__ROOT__}/theme/Chutheme/images/lo1.png" alt=""> </a></li>
						<li><a href="user.html">联系我们</a></li>
						<li><a href="aboutus.html">经验分享</a></li>
						<li><div class="header-login">
									 <div class="top-nav-right">
										<div id="loginContainer"> <a href="#" id="loginButton"><span>登录</span></a>
											    <div id="loginBox">                
											        <form id="loginForm">
											                <fieldset id="body">
											                	<fieldset>
											                          <label for="email">电子邮件</label>
											                          <input type="text" name="email" id="email">
											                    </fieldset>
											                    <fieldset>
											                            <label for="password">密码</label>
											                            <input type="password" name="password" id="password">
											                     </fieldset>
											                    <input type="submit" id="login" value="登录">
											                	<label for="checkbox"><input type="checkbox" id="checkbox"> <i>记住密码</i></label>
											            	</fieldset>
											            <span><a href="#">忘记密码？</a></span>
												 </form>
									        </div>
									  </div>
								   </div>
		                         </div>	</li>
					</ul>	
				</div>
					<!--script-->
	 </div>
   </div>
</div>
<!--header end here-->
<!--single start here-->
		 <div class="single">
			<div class="container">
			<div class="col-md-8 ">
				<div class=" single-grid">
					<div class="lone-line">
						<h4>文章标题文章标题文章标题</h4>
						<div class="cal">
							<ul>
								<li><span ><i class="glyphicon glyphicon-calendar"> </i>22.08.2014</span></li>
								<li><a href="#" ><i class="glyphicon glyphicon-comment"> </i>24</a></li>
							</ul>
						</div>
						<p>河北工业大学梦云智软件开发团队成立于2014年12月。依托于计算机科学与软件学院，团队现拥有自身独立的实验室，经过一年多不懈的努力，团队学习氛围越来越浓厚，团队精神越来越多地被我们诠释。 
 
自团队成立以来，已先后完成”“众筹海淘” 微信购物平台系统 、 “天职师大”绩效管理系统、“洛克酒店”管理系统、 “河北工业大学材料学院”论文送审系统、“一鑫教育”英语在线学习系统等项目。在项目的开发过程中，我们也深深的认识到团队发展中分工、合作及设计模式等方面的不足，并不断的在新技术、新模式领域进行探索。
 团队项目开源github地址：https://github.com/yunzhiclub
 
我们骄傲的培育出的第一批成员（施江程，邢彦年，刘芳，许傲，邓浩洋，纪鹏）已经步入社会或新的学习环境。当在团队的学习经历为他们的求学求职路扫清了一些障碍后，我们再次坚信：以培养有兴趣的学生为目的，结合实际的项目，不断的探索适用的设计模式，培养成员的团队精神，和国际前沿技术接轨，这条路我们走的是对的。
 
如果你对计算机科学有着深厚的兴趣，并致力于在计算机科学深入发展，如果你还在为找不到方向而苦恼，如果你还在孤军奋战，如果你正在寻找身边那群志同道合的人，如果你也是那个靠谱的一份子。那么，现在就加入我们吧，团队欢迎你的到来！
在这里，你将拥有一个新的大家庭，就像你愿意将我们做为家人一样，我们也非常愿意并尝试着视你为至亲。我们一起学习，一起讨论人生，一起靠谱，一起运动，在这里，“我们”，将不再单单的是两个汉字。</p>

					</div>
				</div>
					<div class=" single-profile">
			
			</div>
			<div class="single-bottom">
		
			<h3>评论 </h3>
				<form>
						<div class="col-md-6 comment">
							<input type="text" placeholder="姓名">
						</div>
						<div class="col-md-6 comment">
							<input type="text" placeholder="邮箱">
						</div>
						<div class="clearfix"> </div>
							<textarea placeholder="信息" required=""></textarea>	
							<input type="submit" value="发送">
						
				</form>
			
		</div>
				</div>
					<div class="col-md-3 categories-grid">
				<div class="grid-categories">
					<h4>类别</h4>
					<ul class="popular">
						<li><a href="#"><i class="glyphicon glyphicon-ok"> </i>写新文章</a></li>
						<li><a href="article.html"><i href="article.html" class="glyphicon glyphicon-ok"> </i>文章管理</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-ok"> </i>类别管理</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-ok"> </i>评论管理</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-ok"> </i>草稿箱</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-ok"> </i>已删除</a></li>
					</ul>
				</div>
				<div class="grid-categories">
					<h4>成就</h4>
					<ul class="popular popular-in">
						<li><a href="#"><i class="glyphicon glyphicon-ok"> </i>2014年5月</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-ok"> </i>2012年5月</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-ok"> </i>2012年5月</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-ok"> </i>2012年5月</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-ok"> </i>2012年5月</a></li>
					</ul>
				</div>
			</div>
				<div class="clearfix"> </div>
			
			</div>
	</div>

<!--//single end here-->