{layout name="index" /}
<section id="mu-service">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="mu-service-area">
                    <?php $cssClass = ['fa-book', 'fa-users', 'fa-table'];?>
                    {volist name="ContentFrontpageModels" key="key" id="ContentFrontpageModel"}
                    <div class="mu-service-single">
                        <span class="fa fa-book"></span>
                        <h3>{$ContentFrontpageModel->ContentModel->title}</h3>
                        <p>{$ContentFrontpageModel->ContentModel->title}</p>
                    </div>
                    {/volist}
                </div>
            </div>
        </div>
    </div>
</section>
