{layout name="index"}
<body>
    <div id="templatemo_wrapper">
        <span class="bg_top"></span>
        <span class="bg_bottom"></span>
        <div id="templatemo_menu">
            <ul>
                <li><a href="index.html" class="current">首页</a></li>
                <li><a href="about.html">关于我们</a></li>
                <li><a href="gallery.html">成员简介</a></li>
                <li><a href="blog.html">文档</a></li>
                <li class="last"><a href="contact.html">联系我们</a></li>
            </ul>
        </div>
        <!-- end of menu -->
        <div id="templatemo_header">
            <div id="site_title">
                <h1><a href="#">梦云智软件开发团队</a></h1></div>
            <div id="social">
                <a href="#"><img src="{:__ROOT__}/theme/huangtheme/images/templatemo_icon_01.png" alt="twitter" /></a>
                <a href="#"><img src="{:__ROOT__}/theme/huangtheme/images/templatemo_icon_02.png" alt="RSS" /></a>
                <a href="#"><img src="{:__ROOT__}/theme/huangtheme/images/templatemo_icon_03.png" alt="contact" /></a>
            </div>
        </div>
        <!-- end of header -->
        <div id="templatemo_main">
            <div class="cbox_fw">
                <h2>这是我们最近的一次的项目</h2>
                <a href="#"><img src="{:__ROOT__}/theme/huangtheme/images/templatemo_image_08.jpg" alt="image" class="image_frame image_fl" /></a>
                <p>Ancient Template is brought to you by  website. Feel free to download, edit and apply this template for your personal or commercial websites. Validate <a href="#" rel="nofollow">XHTML</a> &amp; <a href="#" rel="nofollow">CSS</a>. Credits go to <a href="#" target="_blank">Free Photos</a> for Photos. Ut enim ad minim veniamquis nostrud exercitation ullamco lab.</p>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum doloreeu fugiat null epteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit ani rum Curabitur pretium.</p>
                <a href="#" class="more float_r"><span>&gt;&gt;</span> 查看全文</a>
                <div class="cleaner"></div>
            </div>
            <div id="sidebar">
                <div id="nne">
                    <h3>项目 &amp; 博客</h3>
                    <ul class="nne_box">
                        <li><span>16 March 2048</span><a href="#">这是关于问题一的一个blog，主要是关于问题的解决方法，还有问题北京</a></li>
                        <li><span>14 March 2048</span><a href="#">这是关于问题一的一个blog，主要是关于问题的解决方法，还有问题北京</a></li>
                        <li><span>22 February 2048</span><a href="#">这是关于问题一的一个blog，主要是关于问题的解决方法，还有问题北京</a></li>
                        <li><span>18 February 2048</span><a href="#">这是关于问题一的一个blog，主要是关于问题的解决方法，还有问题北京</a></li>
                    </ul>
                </div>
                <div id="member_login">
                    <h3>用户登录</h3>
                    <form action="#" method="post">
                        <label>用户名</label>
                        <input name="username" type="text" class="txt_field" id="name" title="name" value="" size="10" maxlength="30" />
                        <div class="cleaner h10"></div>
                        <label>密码</label>
                        <input name="password" type="password" class="txt_field" id="password" title="password" value="" size="10" maxlength="30" />
                        <div class="cleaner h10"></div>
                        <input type="submit" name="login" value="" alt="login" id="login" title="Search" class="sub_btn" />
                        <div><a href="#">注册</a></div>
                    </form>
                </div>
            </div>
            <div id="content">
                <div class="cbox_fws">
                    <h3>项目介绍</h3>
                    <div class="cbox_w280 float_l">
                        <a href="#"><img src="{:__ROOT__}/theme/huangtheme/images/templatemo_image_04.jpg" alt="image" class="image_frame" /></a>
                        <p>这是关于一个项目的介绍这是关于一个项目的介绍这是关于一个项目的介绍这是关于一个项目的介绍这是关于一个项目的介绍</p>
                        <a href="#" class="more float_r"><span>&gt;&gt;</span> Read more</a>
                        <div class="cleaner"></div>
                    </div>
                    <div class="cbox_w280 float_r">
                        <a href="#"><img src="{:__ROOT__}/theme/huangtheme/images/templatemo_image_05.jpg" alt="image" class="image_frame" /></a>
                        <p>这是关于一个项目的介绍这是关于一个项目的介绍这是关于一个项目的介绍这是关于一个项目的介绍这是关于一个项目的介绍</p>
                        <a href="#" class="more float_r"><span>&gt;&gt;</span> Read more</a>
                        <div class="cleaner"></div>
                    </div>
                    <div class="cleaner"></div>
                    <div class="cbox_w280 float_l">
                        <a href="#"><img src="{:__ROOT__}/theme/huangtheme/images/templatemo_image_06.jpg" alt="image" class="image_frame" /></a>
                        <p>这是关于一个项目的介绍这是关于一个项目的介绍这是关于一个项目的介绍这是关于一个项目的介绍这是关于一个项目的介绍.</p>
                        <a href="#" class="more float_r"><span>&gt;&gt;</span> Read more</a>
                        <div class="cleaner"></div>
                    </div>
                    <div class="cbox_w280 float_r">
                        <a href="#"><img src="{:__ROOT__}/theme/huangtheme/images/templatemo_image_07.jpg" alt="image" class="image_frame" /></a>
                        <p>这是关于一个项目的介绍这是关于一个项目的介绍这是关于一个项目的介绍这是关于一个项目的介绍这是关于一个项目的介绍</p>
                        <a href="#" class="more float_r"><span>&gt;&gt;</span> Read more</a>
                        <div class="cleaner"></div>
                    </div>
                    <div class="cleaner"></div>
                </div>
                <div class="cbox_last">
                    <h3>照片墙</h3>
                    <ul class="photo_gallery">
                        <li>
                            <a href="#"><img src="{:__ROOT__}/theme/huangtheme/images/templatemo_image_01.jpg" alt="Image 1" class="image_frame" /></a>
                        </li>
                        <li>
                            <a href="#"><img src="{:__ROOT__}/theme/huangtheme/images/templatemo_image_02.jpg" alt="Image 2" class="image_frame" /></a>
                        </li>
                        <li class="rmp">
                            <a href="#"><img src="{:__ROOT__}/theme/huangtheme/images/templatemo_image_03.jpg" alt="Image 3" class="image_frame" /></a>
                        </li>
                    </ul>
                    <div class="cleaner"></div>
                    <p><a href="#" class="more float_r"><span>&gt;&gt;</span> View All</a></p>
                </div>
            </div>
            <div class="cleaner"></div>
        </div>
        <!-- end of main -->
        <div id="templatemo_main_bottom"></div>
        <div id="templatemo_footer">
            Copyright © 2016 <a href="#">梦云智</a>
            <div class="cleaner"></div>
        </div>
    </div>
    <!-- end of wrapper -->
</body>