{layout name="index" /}
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-9">
                            <!-- start course content container -->
                            <div class="mu-course-container mu-blog-archive">
                                <div class="row">
                                        <div class="col-md-10">
                                            <ul style="font-size:14px">
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#" style="">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办 </a>
                                                </li>
                                                <li class="row">
                                                    <div class="col-md-3">作者：mengyunzhi</div>
                                                    <div class="col-md-3">发表于：[2016/09/12]</div>
                                                    <div class="col-md-3"></div>
                                                    <hr>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;" style="color:#fff;"></span><a href="#" style="">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办
                                                     </a>
                                                     <div class="row">
                                                         <div class="col-md-3">作者：mengyunzhi</div>
                                                         <div class="col-md-3">发表于：[2016/09/12]</div>
                                                         <div class="col-md-3"></div>
                                                         <hr>
                                                     </div>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#" style="">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办
                                                     </a>
                                                     <div class="row">
                                                         <div class="col-md-3">作者：mengyunzhi</div>
                                                         <div class="col-md-3">发表于：[2016/09/12]</div>
                                                         <div class="col-md-3"></div>
                                                         <hr>
                                                     </div>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#" style="">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办
                                                     </a>
                                                     <div class="row">
                                                         <div class="col-md-3">作者：mengyunzhi</div>
                                                         <div class="col-md-3">发表于：[2016/09/12]</div>
                                                         <div class="col-md-3"></div>
                                                         <hr>
                                                     </div>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#" style="">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办
                                                     </a>
                                                     <div class="row">
                                                         <div class="col-md-3">作者：mengyunzhi</div>
                                                         <div class="col-md-3">发表于：[2016/09/12]</div>
                                                         <div class="col-md-3"></div>
                                                         <hr>
                                                     </div>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#" style="">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办
                                                     </a>
                                                     <div class="row">
                                                         <div class="col-md-3">作者：mengyunzhi</div>
                                                         <div class="col-md-3">发表于：[2016/09/12]</div>
                                                         <div class="col-md-3"></div>
                                                         <hr>
                                                     </div>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#" style="">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办
                                                     </a>
                                                     <div class="row">
                                                         <div class="col-md-3">作者：mengyunzhi</div>
                                                         <div class="col-md-3">发表于：[2016/09/12]</div>
                                                         <div class="col-md-3"></div>
                                                         <hr>
                                                     </div>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#" style="">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办
                                                     </a>
                                                     <div class="row">
                                                         <div class="col-md-3">作者：mengyunzhi</div>
                                                         <div class="col-md-3">发表于：[2016/09/12]</div>
                                                         <div class="col-md-3"></div>
                                                         <hr>
                                                     </div>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#" style="">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办
                                                     </a>
                                                     <div class="row">
                                                         <div class="col-md-3">作者：mengyunzhi</div>
                                                         <div class="col-md-3">发表于：[2016/09/12]</div>
                                                         <div class="col-md-3"></div>
                                                         <hr>
                                                     </div>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#" style="">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办
                                                     </a>
                                                     <div class="row">
                                                         <div class="col-md-3">作者：mengyunzhi</div>
                                                         <div class="col-md-3">发表于：[2016/09/12]</div>
                                                         <div class="col-md-3"></div>
                                                         <hr>
                                                     </div>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#" style="">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办
                                                     </a>
                                                     <div class="row">
                                                         <div class="col-md-3">作者：mengyunzhi</div>
                                                         <div class="col-md-3">发表于：[2016/09/12]</div>
                                                         <div class="col-md-3"></div>
                                                         <hr>
                                                     </div>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#" style="">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办
                                                     </a>
                                                     <div class="row">
                                                         <div class="col-md-3">作者：mengyunzhi</div>
                                                         <div class="col-md-3">发表于：[2016/09/12]</div>
                                                         <div class="col-md-3"></div>
                                                         <hr>
                                                     </div>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#" style="">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办
                                                     </a>
                                                     <div class="row">
                                                         <div class="col-md-3">作者：mengyunzhi</div>
                                                         <div class="col-md-3">发表于：[2016/09/12]</div>
                                                         <div class="col-md-3"></div>
                                                         <hr>
                                                     </div>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#" style="">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办
                                                     </a>
                                                     <div class="row">
                                                         <div class="col-md-3">作者：mengyunzhi</div>
                                                         <div class="col-md-3">发表于：[2016/09/12]</div>
                                                         <div class="col-md-3"></div>
                                                         <hr>
                                                     </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                            </div>
                            <!-- end course content container -->
                        </div>
                        <div class="col-md-3">
                            <!-- start sidebar -->
                            <aside class="mu-sidebar">
                                <!-- start single sidebar -->
                                <div class="mu-single-sidebar">
                                    <h3>院级新闻</h3>
                                    <ul class="mu-sidebar-catg">
                                        <li><a href="#">学院概况</a></li>
                                        <li><a href="">机构设置</a></li>
                                        <li><a href="">教育教学</a></li>
                                        <li><a href="">科学研究</a></li>
                                        <li><a href="">党群工作</a></li>
                                        <li><a href="">团学工作</a></li>
                                        <li><a href="">院务公开</a></li>
                                    </ul>
                                </div>
                                <!-- end single sidebar -->
                                <!-- start single sidebar -->
                                <div class="mu-single-sidebar">
                                    <h3>热点新闻</h3>
                                    <div class="mu-sidebar-popular-courses">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img src="{:__ROOT__}/theme/varsity/img/newslist/005.jpg" alt="img">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="#">讲座预告：课堂</a></h4>
                                                <span class="popular-course-price">2016-09-18</span>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img src="{:__ROOT__}/theme/varsity/img/newslist/005.jpg" alt="img">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="#">我校教师荣获第三批</a></h4>
                                                <span class="popular-course-price">2016-09-18</span>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img src="{:__ROOT__}/theme/varsity/img/newslist/005.jpg" alt="img">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="#">我校新能源汽车研</a></h4>
                                                <span class="popular-course-price">2016-09-18</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end single sidebar -->
                            </aside>
                            <!-- / end sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
