{layout name="index" /}
<div class="row">
    <div class="span16">
        <div class="box">
            <div class="box-header">
                <i class="icon-book"></i>
                <h5>{$MenuModel->title}</h5>
            </div>
            <div class="box-content">
                <form class="form-horizontal" action="{:url('@admin/menu/' . $MenuModel->id)}" method="post">
                    <input type="hidden" name="_method" value="POST" />
                    <div class="control-group">
                        <label class="control-label" for="_title">标题</label>
                        <div class="controls">
                            <input type="text" id="_title" name="title" placeholder="请输入标题" value="{$MenuModel->title}" />
                        </div>
                    </div>
                    <div>
                        <label>pid</label>
                        <input type="text" name="pid" value="{$MenuModel->pid}" />
                    </div>
                    <div>
                        <label>对应组件名</label>
                        <select class="form-control" name="component_name">
                            {volist name="Components" id="Component"}
                            <option value="{$MenuModel->component_name}">{$Component->name}</option>
                            {/volist}
                        </select>
                    </div>
                    <label for="">url</label>
                    <input type="text" name="url" value="{$MenuModel->url}" />
            </div>
            <div>
                <label for="">是否隐藏</label>
                <input type="text" name="is_hidden" value="{$MenuModel->is_hidden}" />
            </div>
            <div>
                <label for="">权重</label>
                <input type="text" name="weight" value="{$MenuModel->weight}">
            </div>
            <div>
                <label for="">描述信息</label>
                <input type="text" name="description" value="{$MenuModel->description}" />
            </div>
            <div>
                <label for="">状态</label>
                <input type="text" name="status" value="{$MenuModel->status}" />
            </div>
            <div>
                <label for="">配置信息</label>
                <ol>
                    {foreach name="MenuModel->getConfig()" key="key" id="_config"}
                    <li>
                        <label>{$_config['title']}</label>
                        <input type="text" name="config[{$key}]" value="{$_config['value']}">
                    </li>
                    {/foreach}
                </ol>
            </div>
            <div>
                <label for="">过滤器信息</label>
                <ol>
                    {foreach name="MenuModel->getFilterModels()" key="key" id="_FilterModel"} {include file="../editFilter" /} {/foreach}
                </ol>
            </div>
            <div>
                <label for="">用户组权限：</label>
                <ul>
                    {volist name="userGroupModels" id="_UserGroupModel"}
                    <li>
                        {$_UserGroupModel->title}
                        <ul>
                            <li>
                                <label for="">
                                    <input type="checkbox" name="access[{$_UserGroupModel->getData('name')}][index]" {eq name="_UserGroupModel->isIndexAllowedByMenuModel($MenuModel)" value="true" }checked="checked" {/eq} />查看</label>
                            </li>
                            <li>
                                <label for="">
                                    <input type="checkbox" name="access[{$_UserGroupModel->getData('name')}][read]" {eq name="_UserGroupModel->isReadAllowedByMenuModel($MenuModel)" value="true" }checked="checked" {/eq} />查看</label>
                            </li>
                            <li>
                                <label for="">
                                    <input type="checkbox" name="access[{$_UserGroupModel->getData('name')}][create]" {eq name="_UserGroupModel->isCreateAllowedByMenuModel($MenuModel)" value="true" }checked="checked" {/eq} />新增</label>
                            </li>
                            <li>
                                <label for="">
                                    <input type="checkbox" name="access[{$_UserGroupModel->getData('name')}][update]" {eq name="_UserGroupModel->isUpdateAllowedByMenuModel($MenuModel)" value="true" }checked="checked" {/eq} />编辑</label>
                            </li>
                            <li>
                                <label for="">
                                    <input type="checkbox" name="access[{$_UserGroupModel->getData('name')}][delete]" {eq name="_UserGroupModel->isDeleteAllowedByMenuModel($MenuModel)" value="true" }checked="checked" {/eq} />删除</label>
                            </li>
                        </ul>
                    </li>
                    {/volist}
                </ul>
            </div>
            <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Submit</button>
            </form>
        </div>
    </div>
</div>
</div>
