{layout name="index" /}
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="{:url('send')}" method="post" role="form">
                    <label for="">邮箱</label>
                    <input type="email" class="form-control" name="email" placeholder="example@126.com">
                    <br />
                    <label for="">自我介绍</label>
                    <input class="form-control" name="apliciation"></input>
                    <br />
                    <a class="btn btn-md btn-success" href="{:url('send')}">发送邮件</a>
                </form>
            </div>
        </div>
    </div>
</section>
