<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Home</title>

    <!--liuyanzhao_theme-->
    <link href="{:__ROOT__}/theme/liuyanzhao_theme/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="{:__ROOT__}/theme/liuyanzhao_theme/css/style.css" rel='stylesheet' type='text/css' />  
    <script src="{:__ROOT__}/theme/liuyanzhao_theme/js/jquery.min.js"> </script>
    <!--webfonts-->
    
    <!--//webfonts-->
    <script type="text/javascript" src="{:__ROOT__}/theme/liuyanzhao_theme/js/move-top.js"></script>
    <script type="text/javascript" src="{:__ROOT__}/theme/liuyanzhao_theme/js/easing.js"></script>
    <script src="{:__ROOT__}/theme/liuyanzhao_theme/js/jquery.min.js"> </script>
    <script src="{:__ROOT__}/theme/liuyanzhao_theme/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
            jQuery(document).ready(function($) {
                $(".scroll").click(function(event){     
                    event.preventDefault();
                    $('html,body').animate({scrollTop:$(this.hash).offset().top},900);
                });
            });
    </script>
  </head>