{layout name="index" /}
<div class="row">
    <div class="span16">
        <div class="box pattern pattern-sandstone">
            <div class="box-header">
                <i class="icon-table"></i>
                <h5>
                {:$ComponentModel->title}编辑
                </h5>
            </div>
            <div class="box-content">
                <form class="form-horizontal" action="{:url('update?name=' . $ComponentModel->name)}" method="post">
                <input type="hidden" name="_method" value="POST" />
                    <div class="control-group">
                        <label class="control-label" for="_title">标题</label>
                        <div class="controls">
                            <input type="text" name="title" id="_title" value="{$ComponentModel->getData('title')}"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">机读字段(禁用中文)</label>
                        <div class="controls">
                        {$ComponentModel->getData('name')}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="_description">描述</label>
                        <div class="controls">
                            <input type="text" id="_description" name="description" value="{$ComponentModel->getData('description')}"/>                    
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="_description">作者</label>
                        <div class="controls">
                            <input type="text" id="_description" name="author" value="{$ComponentModel->getData('author')}"/>                    
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="_description">版本</label>
                        <div class="controls">
                            <input type="text" id="_description" name="version" value="{$ComponentModel->getData('version')}"/>                    
                        </div>
                    </div>
                    <div class="form-horizontal">
                    	<?php $judge = []; ?>
                    	{neq name="ComponentModel->getConfig()" value="$judge"}<label class="control-label" for="_description">配置信息</label>{/neq}
                        <div class="control-group">
                            <div class="controls">
                            <ol>
                                {foreach name="ComponentModel->getConfig()" key="key" id="_config"}
                                    <li>
                                        <label>{$_config['title']}</label>
                                        <input type="text" name="config[{$key}]" value="{$_config['value']}">
                                    </li>
                                {/foreach}
                            </ol>
                            </div>
                        </div>
                    </div>
                    <div class="controls">
                        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> 保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
