<!-- Start menu -->
<section>
    <nav class="navbar navbar-default" style="margin-bottom:2px;" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div id="{$config['id']}">
                        <ul>
                            {volist name="menuModels" id="menuModel"} {eq name="menuModel->isHaveAvailableSonMenus()" value="1"}
                            <li class="has-sub {eq name="menuModel->isActive()" value="1"}active"{/eq}" >
                                <a href="{:url('@' . $menuModel->url)}"><span>{$menuModel->title}</span></a>
                                <ul>
                                    {volist name="menuModel->getAvailableSonMenuModels()" id="sonMenuModel"}
                                    <li class="has-sub" >
                                        <a href="{:url('@' . $sonMenuModel->url)}"><span>{$sonMenuModel->title}</span> {eq name="sonMenuModel->isHaveAvailableSonMenus()" value="1"}<span class="glyphicon glyphicon-chevron-right" style="float:right;line-height:200%"></span>{/eq}</a>
                                        {eq name="sonMenuModel->isHaveAvailableSonMenus()" value="1"}
                                            <ul>
                                                {volist name="sonMenuModel->getAvailableSonMenuModels()" id="_sonMenuModel"}
                                                    <li><a href="{:url('@' . $_sonMenuModel->url)}"><span>{$_sonMenuModel->title}</span></a></li>
                                                {/volist}
                                            </ul>
                                        {/eq}
                                    </li>
                                    {/volist}
                                </ul>
                            </li>
                            {else /}
                            <li {eq name="menuModel->isActive()" value="1" }class="active" {/eq}><a href="{:url('@' . $menuModel->url)}"><span>{$menuModel->title}</a></span>
                            </li>
                            {/eq} {/volist}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</section>