<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Ancient - Free CSS Template</title>
<meta name="keywords" content="ancient, free css templates, CSS, HTML" />
<meta name="description" content="Ancient is a free CSS template from www.cssmoban.com" />
<link href="{:__ROOT__}/theme/huangtheme/templatemo_style.css" rel="stylesheet" type="text/css" />

<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>

</head>