{layout name="index"/}
<div class="header">
	<div class="container">
		 <div class="header-main">
				<!---->
					<div class="header-logo">
						<div class="logo">
						<a href="index.html"><img src="images/lo1.png" alt="" ></a>
						</div>
						<div class="top-nav">
							<span class="icon"><img src="images/menu.png" alt=""> </span>
							<ul>
								<li ><a href="index.html">首页</a> </li>
								<li ><a href="news.html" >关于我们  </a> </li>
								<li><a href="galley.html" >画廊</a></li>
								<li><a href="contact.html" >联系 </a></li>
							</ul>
							<!--script-->
						<script>
							$("span.icon").click(function(){
								$(".top-nav ul").slideToggle(500, function(){
								});
							});
					</script>				
				</div>
				<div class="clearfix"> </div>
					</div>
			<!---->
			<div class="top-menu">					
					<ul>
						<li ><a href="./" >首页</a> </li>
						<li ><a href="news.html">关于  </a> </li>
						<li><a href="#">团队 </a></li>
						<li><a href="./"> <img src="{:__ROOT__}/theme/Chutheme/images/lo1.png" alt=""> </a></li>
						<li><a href="user.html">联系我们</a></li>
						<li><a href="aboutus.html">经验分享</a></li>
						<li><div class="header-login">
									 <div class="top-nav-right">
										<div id="loginContainer"> <a href="#" id="loginButton"><span>登录</span></a>
											    <div id="loginBox">                
											        <form id="loginForm">
											                <fieldset id="body">
											                	<fieldset>
											                          <label for="email">电子邮件</label>
											                          <input type="text" name="email" id="email">
											                    </fieldset>
											                    <fieldset>
											                            <label for="password">密码</label>
											                            <input type="password" name="password" id="password">
											                     </fieldset>
											                    <input type="submit" id="login" value="登录">
											                	<label for="checkbox"><input type="checkbox" id="checkbox"> <i>记住密码</i></label>
											            	</fieldset>
											            <span><a href="#">忘记密码？</a></span>
												 </form>
									        </div>
									  </div>
								   </div>
		                         </div>	</li>
					</ul>
				</div>
					<!--script-->
			<div class="bann-bottom">
				<h1>我们一起靠谱、一起努力</h1>
				<p>学习的路上</p>
				
				<div class="clearfix"> </div>
			</div>
		 </div>
	 </div>
   </div>
</div>
<!--header end here-->
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>
<!--baner-info start here-->
<div class="banner-info">
	<div class="container">
		<div class="banner-info-main">
			<div class="col-md-6 bann-info-left">
				<img src="{:__ROOT__}/theme/Chutheme/images/2.jpg" alt="" class="img-responsive">
				<p>自团队成立以来，已先后完成”“众筹海淘” 微信购物平台系统 、 “天职师大”绩效管理系统、“洛克酒店”管理系统、 “河北工业大学材料学院”论文送审系统、“一鑫教育”英语在线学习系统等项目。在项目的开发过程中，我们也深深的认识到团队发展中分工、合作及设计模式等方面的不足，并不断的在新技术、新模式领域进行探索</p>
			</div>
			<div class="col-md-6 bann-info-left">
				<img src="{:__ROOT__}/theme/Chutheme/images/balance.jpg" alt="" class="img-responsive">
				<p>自团队成立以来，已先后完成”“众筹海淘” 微信购物平台系统 、 “天职师大”绩效管理系统、“洛克酒店”管理系统、 “河北工业大学材料学院”论文送审系统、“一鑫教育”英语在线学习系统等项目。在项目的开发过程中，我们也深深的认识到团队发展中分工、合作及设计模式等方面的不足，并不断的在新技术、新模式领域进行探索</p>
			</div>
		  <div class="clearfix"> </div>
		</div>
		<div class="bann-info-btn"><a href="single.html" class="hvr-bounce-to-right">了解更多</a></div>
	</div>
</div>
<!--banner-info end here-->
<!--testimonal start here-->
<div class="testimonal">
	<div class="container">
		<div class="testimonal-main">
			 <h2>河北工业大学梦云智软件开发团队</h2>
			 <p>河北工业大学梦云智软件开发团队成立于2014年12月。依托于计算机科学与软件学院，团队现拥有自身独立的实验室，经过一年多不懈的努力，团队学习氛围越来越浓厚，团队精神越来越多地被我们诠释</p>
			 <a href="single.html" class="hvr-bounce-to-right  testimo-btn">了解更多</a>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--testimonal end here-->
<!--we work strat her-->
<div class="we-work">
	<div class="container">
		<div class="we-work-main">
			<div class="we-work-top">
				<h3>我们的工作</h3>
				<p>河北工业大学梦云智软件开发团队成立于2014年12月。依托于计算机科学与软件学院，团队现拥有自身独立的实验室，经过一年多不懈的努力，团队学习氛围越来越浓厚，团队精神越来越多地被我们诠释</p>
			</div>
			<div class="we-work-bottom">
				 <div class="col-md-6 we-work-left">
				 	<div class="col-md-6 we-left-img1">
				 		<img src="{:__ROOT__}/theme/Chutheme/images/w1.jpg" alt="" class="img-responsive">
				 	</div>
				 	<div class="col-md-6 we-left-img2">
				 		<img src="{:__ROOT__}/theme/Chutheme/images/w2.jpg" alt="" class="img-responsive">
				 	</div>
				 	<div class="clearfix"> </div>
				 </div>
				 <div class="col-md-6 we-work-right">
				 	<p>河北工业大学梦云智软件开发团队成立于2014年12月。依托于计算机科学与软件学院，团队现拥有自身独立的实验室，经过一年多不懈的努力，团队学习氛围越来越浓厚，团队精神越来越多地被我们诠释</p>
				 </div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--we work end here-->
<!--feature start here-->
<div class="features">
	<div class="container">
		<div class="features-main">
			  <div class="features-top">
			  	 <h3>特色</h3>
			  	 <p> </p>
			  </div>
			  <div class="features-bottom">
			  	 <div class="col-md-3 feature-grid">
			  	 	<img src="{:__ROOT__}/theme/Chutheme/images/f1.jpg" alt="" class="img-responsive">
			  	 	<h4>梦云智开发团队</h4>
			  	 	<p>我们向往财富，但从不追逐利益；我们追求平等，所以排斥特例</p>
			  	 </div>
			  	  <div class="col-md-3 feature-grid">
			  	 	<img src="{:__ROOT__}/theme/Chutheme/images/f2.jpg" alt="" class="img-responsive">
			  	 	<h4>梦云智开发团队</h4>
			  	 	<p>我们向往财富，但从不追逐利益；我们追求平等，所以排斥特例</p>
			  	 </div>
			  	  <div class="col-md-3 feature-grid">
			  	 	<img src="{:__ROOT__}/theme/Chutheme/images/f3.jpg" alt="" class="img-responsive">
			  	 	<h4>梦云智开发团队</h4>
			  	 	<p>我们向往财富，但从不追逐利益；我们追求平等，所以排斥特例</p>
			  	 </div>
			  	  <div class="col-md-3 feature-grid">
			  	 	<img src="{:__ROOT__}/theme/Chutheme/images/f4.jpg" alt="" class="img-responsive">
			  	 	<h4>梦云智开发团队</h4>
			  	 	<p>我们向往财富，但从不追逐利益；我们追求平等，所以排斥特例</p>
			  	 </div>
			  	 <div class="clearfix"> </div>
			  </div>
		</div>
	</div>
</div>