{layout name="index" /}
<section id="mu-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- start contact content -->
                <div class="mu-contact-content">
                    {yz:access action="edit"}
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <a href="{:app\\Common::url('/edit')}">编辑</a>
                        </div>
                    </div>
                    {/yz:access}
                    <div class="row">
                        <div class="col-md-12">
                            <article class="mu-blog-single-item">
                            <center>
                                <figcaption class="mu-blog-caption">
                                    <h1><a href="#">计算机学院成功举办“以师为友·共度佳节”趣味运动会</a></h1>
                                    <br>
                                </figcaption>
                                <figure class="mu-blog-single-img">
                                    <a href="#"><img src="{:__ROOT__}/theme/varsity/img/newslist/13.jpg" alt="img"></a>
                                </figure>
                                </center>
                                <div class="mu-blog-meta">
                                    <a href="#">By 教务处</a>
                                    <a href="#">2016年9月10日</a>
                                    <span><i class="fa fa-comments-o"></i>87</span>
                                </div>
                                <div class="mu-blog-description">
                                    <p>值教师节来临之际，为发扬尊师重教的优良传统，丰富计算机学院师生的课余生活，增强师生团队凝聚力，促进校园和谐，根据《关于做好庆祝2016年教师节有关工作的通知》要求，计算机学院于9月9日下午在西区操场成功举办“以师为友·共度佳节”趣味运动会，学院党委书记商植桐、院长顾军华、党委副书记副院长王轩出席了活动，2016级辅导员和班导师、16级全体学生以及14、15级学生代表参与了此次活动。 商书记在开幕词中，向无私付出，辛勤耕耘的教师工作者们致以崇高的敬意，对同学们为教师节精心筹备活动表示赞许和感谢。随后，伴随着顾院长宣布活动正式开始，同学们的热情欢呼拉开了活动的序幕。 开场活动“喊数抱团”有效打破初识的尴尬，迅速拉近了师生之间心与心的距离，为后续的积分竞赛项目进行预热。随着现场的指挥调动，趣味运动会的积分竞赛项目正式展开。绑腿跑、过山车、海底捞月……这些既考验团队配合、又考验团队智慧的游戏可难不倒团结一心的师生群体。上场前的对策商量，比赛动作的整齐划一，赛场边的加油呐喊，构成了计算机学院一道独特而又靓丽的师生同心风景线。 最激动人心的就属拔河项目了！男生们当仁不让，主动出列请战；力气较小的女生们也巾帼不让须眉，豪气冲天；老师们更是早早进入拔河队伍中牵起绳子，带动场上的气氛攀升至最高点。“一、二，加油！一、二，加油！”看着判定胜负的小红绳慢慢远离中点，有优势的班级信心百倍、士气高涨，稍处于劣势的班级口号声则更加响亮，拽紧麻绳，全力以赴…… 伴着掌声与欢呼，积分前三名的班级得到了属于他们的奖品。这是全体师生共同的努力，是全院师生团结一心的真实写照。最令老师们感动的是，各班新生代表送上了饱含心意的教师节礼物。一张张流淌着真情实意的贺卡，一份份凝结着学生对于老师的爱的礼物，感动了在场的各位老师。 本次“以师为友·共度佳节”趣味运动会虽已圆满结束，但师生间真挚的感情却永无止境。在这朝气蓬勃的校园里，同学们认真学习，脚踏实地，无悔青春理想。在这美丽的校园里，老师们化为红烛，摇曳微光，拨开云雾的方向。祝愿2016级全体新生在计算机学院大放光芒，祝愿所有在岗位上无私奉献、恪尽职守的教师工作者们节日快乐！
                                    </p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <!-- end contact content -->
            </div>
        </div>
    </div>
</section>
