{layout name="index" /}
<section id="mu-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- start contact content -->
                <div class="mu-contact-content">
                {yz:access action="edit"}
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <a href="{:app\\Common::url('/edit')}">编辑</a>
                        </div>
                    </div>
                {/yz:access}
                    <div class="row">
                        <div class="col-md-12">
                        {foreach name="ContentModel->FieldXXXXModels()" id="_FieldXXXXModel"}
                            {$_FieldXXXXModel->render('index')}
                        {/foreach}
                        </div>
                    </div>
                </div>
                <!-- end contact content -->
            </div>
        </div>
    </div>
</section>
