{layout name="index" /}
<table>
    <thead>
        <tr>
            <th>序号</th>
            <th>用户名</th>
            <th>用户组</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {volist name="$UserModel" id="_user"}
        <tr>
            <td>{$key}</td>
            <td>{$_user->getData('username')}</td>
            <td>{$_user->getData('user_group_name')}</td>
            <td>
                <a href="{:url('@user/edit')}" class="mu-post-btn">编辑</a>
            </td>
            <td>
                <a href="{:url('@user/frozen')}" class="mu-post-btn">冻结</a>
            </td>
            <td>
                <a href="{:url('@user/reset')}" class="mu-post-btn">重置密码</a>
            </td>
        </tr>
        {/volist}
    </tbody>
</table>
