{layout name="index" /}
<section style="margin-top: 40px; margin-bottom: 80px; float: left; margin-left: 85px;">
    <hr/>
    <div class="container">
        <div class="row">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>用户名</th>
                        <th>用户组</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="$UserModel" id="_user"}
                    <tr>
                        <td>{$key}</td>
                        <td>{$_user->getData('username')}</td>
                        <td>{$_user->getData('user_group_name')}</td>
                        <td>
                            <a href="{:url('@user/' .$_user->getData('id'). '/reset')}"><span class="btn btn-small btn-default">编辑</span></a>
                            <a href="{:url('@user/frozen?id=' . $_user->getData('id'))}" >{eq name="0" value="$_user->getData('status')"}<span class="btn btn-default btn-small">冻结</span>{else /}<span class="btn btn-small btn-default">解冻</span>{/eq}</a>
                            <a href="{:url('@user/' .$_user->getData('id'). '/reset')}"><span class="btn btn-small btn-default">重置密码</span></a>
                        </td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
        </div>
    </div>
</section>

