{layout name="index" /}
<section id="mu-our-teacher">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-our-teacher-area">
                    <!-- begain title -->
                    <div class="mu-title">
                        <p> 河北工业大学隶属河北省，坐落天津市，是国家“211工程”重点建设大学之一，其前身为1903年创办的北洋工艺学堂，是我国最早建立的工科院校。</p>
                    </div>
                    <!-- end title -->
                    <!-- begain our teacher content -->
                    <div class="mu-our-teacher-content">
                        <div class="row">
                            <div class="col-lg-3 col-md-3  col-sm-6">
                                <div class="mu-our-teacher-single">
                                    <figure class="mu-our-teacher-img">
                                        <img src="assets/img/teachers/teacher-01.png" alt="teacher img">
                                    </figure>
                                    <div class="mu-ourteacher-single-content">
                                        <h4>商植桐</h4>
                                        <span>商植桐，男，汉族，1967年9月生，河北省大城县人，教授，硕士生导师。河北工学院电气技术专业毕业，天津市委党校经济学研究生，河北工业大学高级工商管理硕士。</span>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="mu-our-teacher-single">
                                    <figure class="mu-our-teacher-img">
                                        <img src="assets/img/teachers/teacher-02.png" alt="teacher img">
                                    </figure>
                                    <div class="mu-ourteacher-single-content">
                                        <h4>  顾军华</h4>
                                        <span>  顾军华，男，汉族，1966年9月出生，河北省赵县人。河北工业大学电器专业毕业，研究生学历，工学博士，教授，博士生导师。现任河北工业大学计算机科学与软件学院院长，河北工业大学信息处理研究所所长。</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="mu-our-teacher-single">
                                    <figure class="mu-our-teacher-img">
                                        <img src="assets/img/teachers/teacher-03.png" alt="teacher img">
                                    </figure>
                                    <div class="mu-ourteacher-single-content">
                                        <h4>赵其波</h4>
                                        <span>赵其波，硕士研究生，副教授，毕业于天津师范大学政法学院中共党史专业。主要研究方向中共党史、大学生思想政治教育。曾获校青年管理干部竞赛一等奖、校优秀共产党员</span>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="mu-our-teacher-single">
                                    <figure class="mu-our-teacher-img">
                                        <img src="assets/img/teachers/teacher-04.png" alt="teacher img">
                                    </figure>
                                    <div class="mu-ourteacher-single-content">
                                        <h4>董永峰</h4>
                                        <span></董永峰,计算机与软件学院<span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End our teacher content -->
                </div>
            </div>
        </div>
    </div>
</section>
