<!-- Start from blog -->
<section id="mu-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-about-us-area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="mu-about-us-left">
                                <!-- Start Title -->
                                <div class="mu-title">
                                    <h2>计算机科学与软件学院</h2>
                                </div>
                                <!-- End Title -->
                                <p>河北工业大学计算机科学与软件学院前身是1985年成立的计算机科学与工程系，2002年与计算中心合并成立学院。学院有计算机科学与技术、软件工程、网络工程、物联网工程4个本科专业；计算机科学与技术、控制科学与工程两个一级硕士点，计算机技术、软件工程两个二级硕士点；计算机科学与技术系、网络工程系、软件工程系、基础教学部、计算机实验中心、嵌入式技术及其应用实验室、软件工程研究中心、信息技术研究所等教学和科研机构，在智能信息处理、网络信息安全、并行处理与智能计算、图像处理与多媒体、计算机智能控制等研究方向和领域具有很好的科研基础，与法国巴黎高等计算机专科学院(supinfo)、新西兰梅西大学等国外知名大学和IT公司在教学、科研和人才培养方面展开合作。</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="mu-about-us-right">
                                <embed src="{:__ROOT__}/image/1.mp4" style="width:600px;height:400px" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="mu-from-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-from-blog-area">
                    <hr>
                    <!-- start from blog content   -->
                    <div class="mu-from-blog-content">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <article class="mu-blog-single-item">
                                    <figure class="mu-blog-single-img">
                                        <a href="#"><img src="{:__ROOT__}/theme/varsity/img/blog/4.png" alt="img"></a>
                                        <figcaption class="mu-blog-caption">
                                            <h3><a href="#">计算机学院2016级新生夏令营闭营</a></h3>
                                        </figcaption>
                                    </figure>
                                    <div class="mu-blog-meta">
                                        <a href="#">By 教务处</a>
                                        <a href="#">2016年9月10日</a>
                                        <span><i class="fa fa-comments-o"></i>87</span>
                                    </div>
                                    <div class="mu-blog-description">
                                        <p>8月26日，计算机科学与软件学院2016级新生夏令营闭营仪式在学院楼102会议室隆重举行。计算机学院党委书记商植桐、院长顾军华出席了此次活动，16级辅导员张茜茜和全体夏令营成员参加了活动。闭营仪式由学院党委副书记副院长王轩主持...</p>
                                        <a class="mu-read-more-btn" href="#">查看更多</a>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <article class="mu-blog-single-item">
                                    <figure class="mu-blog-single-img">
                                        <a href="#"><img src="{:__ROOT__}/theme/varsity/img/blog/5.jpg" alt="img"></a>
                                        <figcaption class="mu-blog-caption">
                                            <h3><a href="#">计算机学院2016级新生夏令营闭营</a></h3>
                                        </figcaption>
                                    </figure>
                                    <div class="mu-blog-meta">
                                        <a href="#">By 教务处</a>
                                        <a href="#">2016年9月10日</a>
                                        <span><i class="fa fa-comments-o"></i>87</span>
                                    </div>
                                    <div class="mu-blog-description">
                                        <p>8月26日，计算机科学与软件学院2016级新生夏令营闭营仪式在学院楼102会议室隆重举行。计算机学院党委书记商植桐、院长顾军华出席了此次活动，16级辅导员张茜茜和全体夏令营成员参加了活动。闭营仪式由学院党委副书记副院长王轩主持...</p>
                                        <a class="mu-read-more-btn" href="#">查看更多</a>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <article class="mu-blog-single-item">
                                    <figure class="mu-blog-single-img">
                                        <a href="#"><img src="{:__ROOT__}/theme/varsity/img/blog/6.jpg" alt="img"></a>
                                        <figcaption class="mu-blog-caption">
                                            <h3><a href="#">计算机学院2016级新生夏令营闭营</a></h3>
                                        </figcaption>
                                    </figure>
                                    <div class="mu-blog-meta">
                                        <a href="#">By 教务处</a>
                                        <a href="#">2016年9月10日</a>
                                        <span><i class="fa fa-comments-o"></i>87</span>
                                    </div>
                                    <div class="mu-blog-description">
                                        <p>8月26日，计算机科学与软件学院2016级新生夏令营闭营仪式在学院楼102会议室隆重举行。计算机学院党委书记商植桐、院长顾军华出席了此次活动，16级辅导员张茜茜和全体夏令营成员参加了活动。闭营仪式由学院党委副书记副院长王轩主持...</p>
                                        <a class="mu-read-more-btn" href="#">查看更多</a>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="mu-from-blog-content">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <article class="mu-blog-single-item">
                                    <figure class="mu-blog-single-img">
                                        <a href="#"><img src="{:__ROOT__}/theme/varsity/img/blog/7.jpg" alt="img"></a>
                                        <figcaption class="mu-blog-caption">
                                            <h3><a href="#">计算机学院2016级新生夏令营闭营</a></h3>
                                        </figcaption>
                                    </figure>
                                    <div class="mu-blog-meta">
                                        <a href="#">By 教务处</a>
                                        <a href="#">2016年9月10日</a>
                                        <span><i class="fa fa-comments-o"></i>87</span>
                                    </div>
                                    <div class="mu-blog-description">
                                        <p>8月26日，计算机科学与软件学院2016级新生夏令营闭营仪式在学院楼102会议室隆重举行。计算机学院党委书记商植桐、院长顾军华出席了此次活动，16级辅导员张茜茜和全体夏令营成员参加了活动。闭营仪式由学院党委副书记副院长王轩主持...</p>
                                        <a class="mu-read-more-btn" href="#">查看更多</a>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <article class="mu-blog-single-item">
                                    <figure class="mu-blog-single-img">
                                        <a href="#"><img src="{:__ROOT__}/theme/varsity/img/blog/8.jpg" alt="img"></a>
                                        <figcaption class="mu-blog-caption">
                                            <h3><a href="#">计算机学院2016级新生夏令营闭营</a></h3>
                                        </figcaption>
                                    </figure>
                                    <div class="mu-blog-meta">
                                        <a href="#">By 教务处</a>
                                        <a href="#">2016年9月10日</a>
                                        <span><i class="fa fa-comments-o"></i>87</span>
                                    </div>
                                    <div class="mu-blog-description">
                                        <p>8月26日，计算机科学与软件学院2016级新生夏令营闭营仪式在学院楼102会议室隆重举行。计算机学院党委书记商植桐、院长顾军华出席了此次活动，16级辅导员张茜茜和全体夏令营成员参加了活动。闭营仪式由学院党委副书记副院长王轩主持...</p>
                                        <a class="mu-read-more-btn" href="#">查看更多</a>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <article class="mu-blog-single-item">
                                    <figure class="mu-blog-single-img">
                                        <a href="#"><img src="{:__ROOT__}/theme/varsity/img/blog/9.jpg" alt="img"></a>
                                        <figcaption class="mu-blog-caption">
                                            <h3><a href="#">计算机学院2016级新生夏令营闭营</a></h3>
                                        </figcaption>
                                    </figure>
                                    <div class="mu-blog-meta">
                                        <a href="#">By 教务处</a>
                                        <a href="#">2016年9月10日</a>
                                        <span><i class="fa fa-comments-o"></i>87</span>
                                    </div>
                                    <div class="mu-blog-description">
                                        <p>8月26日，计算机科学与软件学院2016级新生夏令营闭营仪式在学院楼102会议室隆重举行。计算机学院党委书记商植桐、院长顾军华出席了此次活动，16级辅导员张茜茜和全体夏令营成员参加了活动。闭营仪式由学院党委副书记副院长王轩主持...</p>
                                        <a class="mu-read-more-btn" href="#">查看更多</a>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <!-- end from blog content   -->
                </div>
            </div>
        </div>
    </div>
</section>
