<!-- Start from blog -->
<section id="mu-about-us" style="margin-top:-28px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-about-us-area">
                    <div class="row">
                        <div class="col-md-4" style="color:#fff;margin-top:-20px;">
                            <div class="mu-single-sidebar">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3 style="color:#aaa;">最新通知</h3></div>
                                    <div class="col-md-3">
                                        <h3 style="color:#aaa;">更多</h3></div>
                                </div>
                                <div class="mu-sidebar-popular-courses">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="{:__ROOT__}/theme/varsity/img/newslist/004.jpg" alt="img">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#">计算机学院成功举办“以师为友·共度佳节”趣味运动会</a></h4>
                                            <span style="color:#aaa;">2016-09-18</span>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="{:__ROOT__}/theme/varsity/img/newslist/005.jpg" alt="img">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#">我院5名学生暑期赴英国参加技术创新与管理交流项目</a></h4>
                                            <span style="color:#aaa;">2016-09-18</span>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="{:__ROOT__}/theme/varsity/img/newslist/006.jpg" alt="img">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#">挪威卑尔根大学台雪成教授来我校做学术讲座</a></h4>
                                            <span style="color:#aaa;">2016-09-18</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row" style="margin-top:-20px;">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <h3 style="color:#aaa;">快速链接</h3></div>
                                        <div class="col-md-3">
                                            <h3 style="color:#aaa;">更多</h3></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="{:__ROOT__}/theme/varsity/img/newslist/button1.png" alt="">
                                            <h5 style="color:#777;">下载专区</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <img src="{:__ROOT__}/theme/varsity/img/newslist/button1.png" alt="">
                                            <h5 style="color:#777;">下载专区</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <img src="{:__ROOT__}/theme/varsity/img/newslist/button1.png" alt="">
                                            <h5 style="color:#777;">下载专区</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <img src="{:__ROOT__}/theme/varsity/img/newslist/button1.png" alt="">
                                            <h5 style="color:#777;">下载专区</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="{:__ROOT__}/theme/varsity/img/newslist/button1.png" alt="">
                                            <h5 style="color:#777;">下载专区</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <img src="{:__ROOT__}/theme/varsity/img/newslist/button1.png" alt="">
                                            <h5 style="color:#777;">下载专区</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <img src="{:__ROOT__}/theme/varsity/img/newslist/button1.png" alt="">
                                            <h5 style="color:#777;">下载专区</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <img src="{:__ROOT__}/theme/varsity/img/newslist/button1.png" alt="">
                                            <h5 style="color:#777;">下载专区</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="{:__ROOT__}/theme/varsity/img/newslist/button1.png" alt="">
                                            <h5 style="color:#777;">下载专区</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <img src="{:__ROOT__}/theme/varsity/img/newslist/button1.png" alt="">
                                            <h5 style="color:#777;">下载专区</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <img src="{:__ROOT__}/theme/varsity/img/newslist/button1.png" alt="">
                                            <h5 style="color:#777;">下载专区</h5>
                                        </div>
                                        <div class="col-md-3">
                                            <img src="{:__ROOT__}/theme/varsity/img/newslist/button1.png" alt="">
                                            <h5 style="color:#777;">下载专区</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row" style="margin-left:20px">
                                <div class="col-md-12">
                                <div class="row" style="margin-top:-20px">
                                        <div class="col-md-9">
                                            <h3 style="color:#aaa;">综合新闻</h3></div>
                                        <div class="col-md-3">
                                            <h3 style="color:#aaa;">更多</h3></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5"> <img src="{:__ROOT__}/theme/varsity/img/newslist/news-right.jpg" alt=""> </div>
                                        <div class="col-md-7"> <p style="width:350px;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为深入贯彻“安全至上，诚信为本”的理念，督促新生做好梦想规划，并尽快了解新生情况，与家长建立联系，一同帮助新生尽快融入大学生活，计算机学院精心准备了一份“见面礼”，其中包括《新生入学通知》、《2016级新生安全诚信承诺书》、《2016级新生·梦想规划书》、《新生家长调查问卷》、《致2016级新生家长的一封信》等，充分展现学院“以生为本”的文化底蕴，学院上下正以高涨的热情积极投入迎新工作中。</p> </div>
                                    </div>
                                    <div class="row">
                                    <hr style="margin-top:35px">
                                        <div class="col-md-12">
                                            <ul>
                                                
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right"></span><a href="#">“我为社会主义核心价值观代言”之2014级新生夏令营敬老院志愿活动 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2016/09/22]</a>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right"></span><a href="#">“我为社会主义核心价值观代言”之2014级新生夏令营敬老院志愿活动 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2016/09/22]</a>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right"></span><a href="#">“我为社会主义核心价值观代言”之2014级新生夏令营敬老院志愿活动 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2016/09/22]</a>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right"></span><a href="#">“我为社会主义核心价值观代言”之2014级新生夏令营敬老院志愿活动 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2016/09/22]</a>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right"></span><a href="#">“我为社会主义核心价值观代言”之2014级新生夏令营敬老院志愿活动 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2016/09/22]</a>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right"></span><a href="#">“我为社会主义核心价值观代言”之2014级新生夏令营敬老院志愿活动 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2016/09/22]</a>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right"></span><a href="#">“我为社会主义核心价值观代言”之2014级新生夏令营敬老院志愿活动 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2016/09/22]</a>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right"></span><a href="#">“我为社会主义核心价值观代言”之2014级新生夏令营敬老院志愿活动 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2016/09/22]</a>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right"></span><a href="#">“我为社会主义核心价值观代言”之2014级新生夏令营敬老院志愿活动 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2016/09/22]</a>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right"></span><a href="#">“我为社会主义核心价值观代言”之2014级新生夏令营敬老院志愿活动 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2016/09/22]</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
