<!-- Start from blog -->
<section id="mu-about-us" style="margin-top:-28px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-about-us-area">
                    <div class="row">
                        <div class="col-md-4" style="color:#fff;margin-top:-20px;">
                            <div class="mu-single-sidebar">
                                <div class="row" id="header">
                                    <div class="col-md-9">
                                        <h4 style="color:#E6690B;">最新通知</h4></div>
                                    <div class="col-md-3">
                                        <a href="#"><h5 >More</h5></a></div>
                                </div>
                                <div class="mu-sidebar-popular-courses">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="{:__ROOT__}/theme/varsity/img/newslist/004.jpg" alt="img">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading" style="line-height:150%;"><a style="font-family:SimHei;" href="#">计算机科学与软件学院举行2016级研究生开学典礼暨师生见面会</a></h5>
                                            <span style="color:#1FABFD;margin-left:160px;display:inline;font-size:15px;">2016-09-18</span>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="{:__ROOT__}/theme/varsity/img/newslist/005.jpg" alt="img">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading" style="line-height:150%;"><a style="font-family:SimHei;" href="#">计算机科学与软件学院举行2016级研究生开学典礼暨师生见面会</a></h5>
                                            <span style="color:#1FABFD;margin-left:160px;display:inline;font-size:15px;">2016-09-18</span>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="{:__ROOT__}/theme/varsity/img/newslist/006.jpg" alt="img">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading" style="line-height:150%;"><a style="font-family:SimHei;" href="#">计算机科学与软件学院举行2016级研究生开学典礼暨师生见面会</a></h5>
                                            <span style="color:#1FABFD;margin-left:160px;display:inline;font-size:15px;">2016-09-18</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row" style="margin-top:-20px;">
                                <div class="col-md-12">
                                    <div class="row" id="header">
                                        <div class="col-md-9">
                                            <h4 style="color:#E6690B;">快速链接</h4></div>
                                        <div class="col-md-3">
                                            <a href="#"><h5 >More</h5></a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <a href="http://mail.scse.hebut.edu.cn/"><img src="{:__ROOT__}/theme/varsity/img/newslist/button1.png" alt="">
                                                <h5 style="color:#1FABFD;font-family:SimHei;">下载专区</h5></a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="http://mail.scse.hebut.edu.cn/"><img src="{:__ROOT__}/theme/varsity/img/newslist/button1.png" alt="">
                                                <h5 style="color:#1FABFD;font-family:SimHei;">下载专区</h5></a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="http://mail.scse.hebut.edu.cn/"><img src="{:__ROOT__}/theme/varsity/img/newslist/button1.png" alt="">
                                                <h5 style="color:#1FABFD;font-family:SimHei;">下载专区</h5></a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="http://mail.scse.hebut.edu.cn/"><img src="{:__ROOT__}/theme/varsity/img/newslist/button1.png" alt="">
                                                <h5 style="color:#1FABFD;font-family:SimHei;">下载专区</h5></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <a href="http://mail.scse.hebut.edu.cn/"><img src="{:__ROOT__}/theme/varsity/img/newslist/button1.png" alt="">
                                                <h5 style="color:#1FABFD;font-family:SimHei;">下载专区</h5></a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="http://mail.scse.hebut.edu.cn/"><img src="{:__ROOT__}/theme/varsity/img/newslist/button1.png" alt="">
                                                <h5 style="color:#1FABFD;font-family:SimHei;">下载专区</h5></a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="http://mail.scse.hebut.edu.cn/"><img src="{:__ROOT__}/theme/varsity/img/newslist/button1.png" alt="">
                                                <h5 style="color:#1FABFD;font-family:SimHei;">下载专区</h5></a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="http://mail.scse.hebut.edu.cn/"><img src="{:__ROOT__}/theme/varsity/img/newslist/button1.png" alt="">
                                                <h5 style="color:#1FABFD;font-family:SimHei;">下载专区</h5></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <a href="http://mail.scse.hebut.edu.cn/"><img src="{:__ROOT__}/theme/varsity/img/newslist/button1.png" alt="">
                                                <h5 style="color:#1FABFD;font-family:SimHei;">下载专区</h5></a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="http://mail.scse.hebut.edu.cn/"><img src="{:__ROOT__}/theme/varsity/img/newslist/button1.png" alt="">
                                                <h5 style="color:#1FABFD;font-family:SimHei;">下载专区</h5></a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="http://mail.scse.hebut.edu.cn/"><img src="{:__ROOT__}/theme/varsity/img/newslist/button1.png" alt="">
                                                <h5 style="color:#1FABFD;font-family:SimHei;">下载专区</h5></a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="http://mail.scse.hebut.edu.cn/"><img src="{:__ROOT__}/theme/varsity/img/newslist/button1.png" alt="">
                                                <h5 style="color:#1FABFD;font-family:SimHei;">下载专区</h5></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row" style="margin-left:20px">
                                <div class="col-md-12">
                                    <div class="row" style="margin-top:-20px" id="header">
                                        <div class="col-md-9">
                                            <h4 style="color:#E6690B;">综合新闻</h4></div>
                                        <div class="col-md-3">
                                            <h5 style="color:#01bafd;">More</h5></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6"> <img src="{:__ROOT__}/theme/varsity/img/newslist/news-right.jpg" alt=""> </div>
                                        <div class="col-md-6" style="margin-left:-40px;font-size:14px">
                                            <p style="width:400px;line-height:170%;"> &nbsp;&nbsp;&nbsp;&nbsp;为深入贯彻“安全至上，诚信为本”的理念，好梦想规划，并尽快了解新生情况，与家长建立联系，一同帮助新生尽快融入大学生活，计算机学院精心准备了一份“见面礼”、《2016级新生安全诚信承诺书》、《2016级新生·梦想规划书》、《新生家长调查问卷》、《致2016级新生家长的一封信》等，充分展现学院“以生为本”的文化底蕴，学院上下正以高涨的热情积极投入迎新工作中。</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul style="font-size:14px">
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2016/9/22] </a>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;" style="color:#fff;"></span><a href="#">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2016/9/22]
                                                     </a>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2016/9/22]
                                                     </a>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2016/9/22]
                                                     </a>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2016/9/22]
                                                     </a>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2016/9/22]
                                                     </a>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2016/9/22]
                                                     </a>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2016/9/22]
                                                     </a>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2016/9/22]
                                                     </a>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2016/9/22]
                                                     </a>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2016/9/22]
                                                     </a>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2016/9/22]
                                                     </a>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2016/9/22]
                                                     </a>
                                                </li>
                                                <li style="margin-top:13px;margin-bottom:10px;">
                                                    <span class="glyphicon glyphicon-chevron-right" style="color:#0089CE;"></span><a href="#">&nbsp;&nbsp;&nbsp;计算机科学与软件学院2016级新生师生见面暨专业介绍会成功举办 业介绍会成功举办&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[2016/9/22]
                                                     </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
