{layout name="index" /}
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-9">
                            <!-- start course content container -->
                            <div class="mu-course-container mu-blog-archive">
                                <ul>
                                {volist name="ContentModels" id="contentModel"}
                                    <li><a href="{$contentModel->id | $filterModels['href']->filter}">{$contentModel->title}</a><span style="float:right">{$contentModel->create_time | $filterModels['date']->filter}</span></li>
                                {/volist}
                                </ul>                                
                            </div>
                            <!-- end course content container -->
                            <!-- start course pagination -->
                            <div class="mu-pagination">
                                <nav>
                                    {$ContentModels->render()}
                                </nav>
                            </div>
                            <!-- end course pagination -->
                        </div>
                        <div class="col-md-3">
                            <!-- start sidebar -->
                            <aside class="mu-sidebar">
                                <!-- start single sidebar -->
                                <div class="mu-single-sidebar">
                                    <h3>院级新闻</h3>
                                    <ul class="mu-sidebar-catg">
                                        <li><a href="#">院级新闻1</a></li>
                                        <li><a href="">院级新闻2</a></li>
                                        <li><a href="">院级新闻3</a></li>
                                        <li><a href="">院级新闻4</a></li>
                                        <li><a href="">院级新闻5</a></li>
                                        <li><a href="">院级新闻6</a></li>
                                    </ul>
                                </div>
                                <!-- end single sidebar -->
                                <!-- start single sidebar -->
                                <div class="mu-single-sidebar">
                                    <h3>热点新闻</h3>
                                    <div class="mu-sidebar-popular-courses">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="assets/img/courses/1.jpg" alt="img">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="#">Medical Science</a></h4>
                                                <span class="popular-course-price">$200.00</span>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="assets/img/courses/2.jpg" alt="img">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="#">Web Design</a></h4>
                                                <span class="popular-course-price">$250.00</span>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="assets/img/courses/3.jpg" alt="img">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="#">Health &amp; Sports</a></h4>
                                                <span class="popular-course-price">$90.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end single sidebar -->
                            </aside>
                            <!-- / end sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
