{layout name="index" /}
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-9">
                            <!-- start course content container -->
                            <div class="mu-course-container mu-blog-archive">
                                <div class="row">
                                    <div class="col-md-4">
                                        <article class="mu-blog-single-item">
                                            <figure class="mu-blog-single-img">
                                                <a href="#"><img src="{:__ROOT__}/theme/varsity/img/newslist/001.jpg" alt="img"></a>
                                                <figcaption class="mu-blog-caption">
                                                    <h3><a href="#">学院召开2016年第十六次党政联席会</a></h3>
                                                </figcaption>
                                            </figure>
                                            <div class="mu-blog-meta">
                                                <a href="#">By 教务处</a>
                                                <a href="#">2016年9月10日</a>
                                                <span><i class="fa fa-comments-o"></i>87</span>
                                            </div>
                                            <div class="mu-blog-description">
                                                <p>8月26日，计算机科学与软件学院2016级新生夏令营闭营仪式在学院楼102会议室隆重举行。计算机学院党委书记商植桐、院长顾军华出席了此次活动，16级辅导员张茜茜和全体夏令营成员参加了活动。闭营仪式由学院党委副书记副院长王轩主持...</p>
                                                <a class="mu-read-more-btn" href="#">查看更多</a>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-md-4">
                                        <article class="mu-blog-single-item">
                                            <figure class="mu-blog-single-img">
                                                <a href="#"><img src="{:__ROOT__}/theme/varsity/img/newslist/002.jpg" alt="img"></a>
                                                <figcaption class="mu-blog-caption">
                                                    <h3><a href="#">计算机学院2016级新生夏令营闭营</a></h3>
                                                </figcaption>
                                            </figure>
                                            <div class="mu-blog-meta">
                                                <a href="#">By 教务处</a>
                                                <a href="#">2016年9月10日</a>
                                                <span><i class="fa fa-comments-o"></i>87</span>
                                            </div>
                                            <div class="mu-blog-description">
                                                <p>6月18日下午2:00和晚上6:30，我院在学院楼102分别召开了教工及学生年度先进基层党支部和优秀共产党员评选展示及表彰大会，隆重纪念中国共产党建党94周年。党委书记周建伟、副院长董永峰出席了教工评选展示会，全体教工党员参加了大会，会议由党委副书记副院长赵其波主持。党委副书记副院长赵其波、团委书记史进、党务干事、辅导员及全体学生党员参加了学生评选展示会。</p>
                                                <a class="mu-read-more-btn" href="#">查看更多</a>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-md-4">
                                        <article class="mu-blog-single-item">
                                            <figure class="mu-blog-single-img">
                                                <a href="#"><img src="{:__ROOT__}/theme/varsity/img/newslist/003.jpg" alt="img"></a>
                                                <figcaption class="mu-blog-caption">
                                                    <h3><a href="#">团学骨干传帮带，新老接力创佳绩</a></h3>
                                                </figcaption>
                                            </figure>
                                            <div class="mu-blog-meta">
                                                <a href="#">By 教务处</a>
                                                <a href="#">2016年9月10日</a>
                                                <span><i class="fa fa-comments-o"></i>87</span>
                                            </div>
                                            <div class="mu-blog-description">
                                                <p>卢沟桥坐落于永定河上，1937年7月7日，日军借口军事演习，突然向我卢沟桥驻军第29军发起攻击，炮轰宛平城，第29军奋起反抗。7月8日，中国共产党发表了“为日军进攻卢沟桥通电”，向全国民众疾呼：平津危急！华北危急！中华民族危急！只有全民族实行抗战，才是中国的出路。中国抗日民族解放战争从此开始。.</p>
                                                <a class="mu-read-more-btn" href="#">查看更多</a>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <!-- end course content container -->
                            <!-- start course pagination -->
                            <div class="mu-pagination">
                                <nav>
                                    {$ContentModels->render()}
                                </nav>
                            </div>
                            <!-- end course pagination -->
                        </div>
                        <div class="col-md-3">
                            <!-- start sidebar -->
                            <aside class="mu-sidebar">
                                <!-- start single sidebar -->
                                <div class="mu-single-sidebar">
                                    <h3>院级新闻</h3>
                                    <ul class="mu-sidebar-catg">
                                        <li><a href="#">学院概况</a></li>
                                        <li><a href="">机构设置</a></li>
                                        <li><a href="">教育教学</a></li>
                                        <li><a href="">科学研究</a></li>
                                        <li><a href="">党群工作</a></li>
                                        <li><a href="">团学工作</a></li>
                                        <li><a href="">院务公开</a></li>
                                    </ul>
                                </div>
                                <!-- end single sidebar -->
                                <!-- start single sidebar -->
                                <div class="mu-single-sidebar">
                                    <h3>热点新闻</h3>
                                    <div class="mu-sidebar-popular-courses">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img src="{:__ROOT__}/theme/varsity/img/newslist/004.jpg" alt="img">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="#">讲座预告：课堂</a></h4>
                                                <span class="popular-course-price">2016-09-18</span>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img src="{:__ROOT__}/theme/varsity/img/newslist/005.jpg" alt="img">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="#">我校教师荣获第三批</a></h4>
                                                <span class="popular-course-price">2016-09-18</span>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img src="{:__ROOT__}/theme/varsity/img/newslist/006.jpg" alt="img">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="#">我校新能源汽车研</a></h4>
                                                <span class="popular-course-price">2016-09-18</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end single sidebar -->
                            </aside>
                            <!-- / end sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
